@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
}

.body {
  min-width: $bodyMinWidth;
  margin: 0 auto;
  padding: 0;

  font-family: $mainFont;
  font-size: $mainFontSize;
  font-style: normal;
  font-weight: $mainFontWeight;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  &--grey {
    
    @media #{$desktop} {
      background-color: $light-grey-color;
    }
  }
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1340px;
}
