@import "base";
@import "modules/header";
@import "modules/h-lk";
@import "modules/footer";
@import "modules/modal";
@import "modal";


.button {
  display: inline-block;
  background: transparent;

  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 150%;

  padding: 10px 25px;
  z-index: 1000;
  cursor: pointer;

  border: 1px solid $white-color;
  color: $white-color;

  @media #{$tabletD} {
    font-size: 1.8rem;
  }

  &:hover {
    background: $black-color;
    border: 1px solid $black-color;
  }

  &--black {
    background: $black-color;
    color: $white-color;
    border-color: #000000;

    &:hover {
      box-shadow: 0 0 2px 1px $bold-grey-color;
    }
  }

  &:disabled {
    cursor: default;
    background: lighten($black-color, 20);
  }

  &--icon {
    display: flex;
    align-items: center;
    border-radius: 3rem;

    .button__title {
      
      .hidden-xs {
        @media #{$mobile}{
          display: none;
        }
      }

      &:after{
        content: url('../img/icons/person-round.svg');
        display: inline-block;
        vertical-align: middle;
        line-height: 100%;
        margin-left: .5rem;
      }
    }
  }
}

.btn-back {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  white-space: nowrap;

  color: #2A2A2A;

  @media #{$tabletD}{
    font-size: 19px;
  }

  &:after {
    margin-left: 17px;
    content: url("../img/icons/arrow-back.png");
  }
}

.btn-prev {
  display: inline-block;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  white-space: nowrap;

  color: #2A2A2A;

  @media #{$tabletD}{
    font-size: 19px;
  }

  &::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    line-height: 100%;
    content: url("../img/icons/arrow-prev-short.svg");

    @media #{$tablet}{
      margin: 0 .5rem 0 0;
      content: url("../img/icons/arrow-prev-large.svg");
    }
  }

  &--pos {
    margin-top: 0;
    margin-bottom: 2.5rem;

    @media #{$tablet}{
      margin: 2.5rem 0;
    }

  }
}

.btn-order {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 17px;
  line-height: $mainLineHeight;
  text-align: center;

  padding: 1.5rem 3rem;
  background: #F6F5F4;
  border-radius: 30px;

  color: #000000;
  cursor: pointer;

  &::after {
    display: inline-block;

    vertical-align: middle;
    line-height: 100%;
    margin-left: 2rem;
    content: url("../img/icons/cube.svg");
  }

  &--pos {
    margin: 2.1rem 0;
  }

  &:hover, &:active, &:focus {
    background: $light-grey-color;

    box-shadow: 0 0 1px 1px $light-black inset;
  }

  &--plus {
    font-size: 1.2rem;

    @media #{$tablet} {
      font-size: 1.4rem;
    }
  }

  &--plus::after {
    content: url("../img/icons/plus.svg");
  }
}

.btn-to-top {
  display: none;

  position: fixed;
  bottom: 5%;
  right: 10%;

  cursor: pointer;
  z-index: 10000;

  &__wrap {
    width: 40px;
    height: 40px;
  }

  &__img {
    width: 100%;
  }

  transition: all .4s;
}

.btn-link {
  background: transparent;
  text-align: center;

  font-weight: normal;
  font-size: 1.6rem;
  line-height: 150%;

  text-decoration: underline;
  cursor: pointer;

  margin: 0 auto;

  color: $black-color;
}

.container-inner {

  margin: -12rem 0 3.8rem;

  @media #{$tabletD} {
    margin: 3.8rem 0 8.7rem;
  }
}

.container-position {
  position: static;

  @media #{$tabletD} {
    position: relative;
  }
}

.search-form {

  &__wrapper {
    position: relative;
  }

  &__input {
    width: 100%;

    font-size: 1.5rem;
    font-weight: 200;
    line-height: $mainLineHeight;

    background: $light-grey-color;
    padding: 1.5rem 0;

    color: $semi-black;
    border-bottom: 1px solid $semi-black;

    &::placeholder {
      line-height: $mainLineHeight;
      color: $semi-black;

      @media #{$tabletD}{
        color: #BBBBBB;
      }
    }

    @media #{$tabletD}{
      padding: 3rem 10rem 3rem 4.7rem;
      font-size: 2rem;
      border-bottom: 1px solid transparent;
    }

    &--white {
      background: $white-color;
    }
  }

  &__submit {
    position: absolute;
    right: 0;
    top: calc(50% - 35px / 2);

    width: 35px;
    height: 35px;

    cursor: pointer;
    background: transparent;

    @media #{$tabletD} {
      right: 3.4rem;
    }

    &::before {
      content: url("../img/icons/search-cat.svg");
      display: inline-block;
      vertical-align: middle;

      @media #{$tabletD} {
        content: url("../img/icons/search-cat-grey.svg");
      }
    }
  }

  &--pos {
    margin-top: 1.9rem;
    margin-bottom: 3.8rem;
  }
}

.details {
  display: flex;
  flex-direction: column;

  font-size: 20px;
  line-height: 145%;

  color: $white-color;

  &::after {
    content: url("../img/icons/long-right.svg");
  }

  &--white {
    color: $white-color;
  }
}

.auth-link {
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  color: $semi-black;
  // padding-bottom: 3px;
  border-bottom: 1px solid transparent;

  &__logotype-wrapper {
    padding-bottom: 5.7rem;
  }

  &__image-wrapper {
    display: inline-block;

    width: 1.3rem;
    margin-right: 1.3rem;
  }

  &__img {
    width: 100%;
  }

  &:hover, &:focus, &:active {
    border-bottom: 1px solid $mainFontColor;
  }

  &--lg {
    display: none;
    margin-left: 4rem;

    @media #{$tabletD} {
      display: block;
    }
  }

  span {
    white-space: nowrap;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.page-title-line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.7rem;

  @media #{$desktop} {
    margin-bottom: 2.4rem;
  }

  .page-title {
    margin-bottom: 0 !important;
  }
}

.page-title {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 145%;

  @media #{$tablet}{
    font-size: 4.3rem;
  }

  &--black {
    color: $black-color;
  }

  &--mb {
    margin-bottom: .9rem;

    @media #{$tablet}{
      margin-bottom: 2.4rem;
    }
  }

  &--h2 {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;

    @media #{$tablet}{
      font-size: 1.8rem;
    }
  }
}

.title-block {
  font-size: 1.8rem;
  line-height: $mainLineHeight;

  color: $black-color;

  @media #{$tablet}{
    font-size: 2.4rem;
  }

  &--grey {
    color: $light-grey;
  }

  &--mb {
    margin-bottom: 1.5rem;

    @media #{$tablet} {
      margin-bottom: 4.1rem;
    }
  }

  &--bold {
    font-weight: bold;
  }
}

.page-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 170%;
  color: #000000;

  @media #{$tablet} {
    font-size: 1.8rem;
  }

  &--grey {
    color: #6c6c6c;

    @media #{$tablet} {
      font-size: 1.6rem;
    }
  }

  &--mb {
    margin-bottom: 7.7rem;

    @media #{$tabletD} {
      margin-bottom: 0;
    }
  }

  &--medium {
    font-weight: 500;
    margin-bottom: 4.8rem;
  }

  &--bold {
    font-weight: 700;
  }
}

.content-pos {

  &--left {
    padding-left: 0;

    @media #{$tabletD}{
      padding-left: 17.1rem;
    }
  }

  &--right {
    padding-right: 0;

    @media #{$tabletD}{
      padding-right: 17.1rem;
    }
  }

  &--all {
    padding-right: 0;
    padding-left: 0;

    @media #{$tabletD}{
      padding-right: 17.1rem;
      padding-left: 17.1rem;
    }
  }

  &--mb {
    margin-bottom: 4.1rem;

    @media #{$tabletD}{
      margin-bottom: 12.7rem;
    }
  }

  &--mb-min {
    margin-bottom: 1.6rem;

    @media #{$tabletD}{
      margin-bottom: 3.3rem;
    }
  }
}

.contact {
  color: $black-color;

  &:hover {
    border-bottom: 1px solid $black-color;
  }

  &--mr {
    margin-right: 2rem;
  }

  &--bold {
    font-weight: bold;
  }
}

.line {
  margin: 1.8rem 0;
  border-bottom: 2px solid $black-color;
  height: 0;
  box-sizing: border-box;

  @media #{$tablet}{
    margin: 3.4rem 0;
  }

  &--w70 {
    @media #{$tablet}{
      width: 70%;
    }
  }

  &--margin {
    @media #{$tablet}{
      margin-top: 4.1rem;
      margin-bottom: 8.2rem;
    }
  }
}

.logotype-block {
  &__wrapper {
    display: block;

    width: 165px;
    margin: 0 auto 5.7rem;
  }

  &__image {
    width: 100%;
  }

  &--large-mb {
    margin-bottom: 8.1rem;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;

  &__label {
    color: $semi-black;
    line-height: $mainLineHeight;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: url("../img/icons/search-cat.svg");
      display: inline-block;
      line-height: 100%;
    }
  }

  &__input-catalog {
    padding: .3rem 1rem .3rem 0;
    font-size: 1.4rem;
    border-bottom: 1px solid $semi-black;
    background: transparent;
  }

  &--pos {
    margin: 10rem 0;
  }

  &--w70 {
    width: 75%;
  }
}

.nav {
  display: none;
  padding-bottom: 3rem;

  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 10000;


  &.js-navigation {
    top: 8rem;
  }

  width: 100%;
  background: $light-grey-color;

  &.show {
    display: block;
  }

  &.js-navigation {
    top: 8rem;
  }


  @media #{$tabletD} {
    display: block;
    position: static;
    padding-bottom: 0;
  }


  &__btn-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 20px;
    height: 20px;
    background: $light-grey-color;

    @media #{$tabletD}{
      display: none;
    }

    &:hover {
      background: $light-grey-color;
    }

    span {
      display: inline-block;
      height: 2.5px;
      margin: 2px 0;
      background: $semi-black;
      transition: transform 0.3s ease;
    }

    .top {
      width: 10px;
    }

    .middle {
      width: 15px;
    }

    .bottom {
      width: 20px;
    }

    &.cross {
      .top,
      .bottom {
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 10px);
      }

      .top {
        transform: rotate(45deg);
        width: 20px;
        transition: transform 0.3s ease;
      }

      .bottom {
        transform: rotate(-45deg);
        transition: transform 0.3s ease;
      }

      .middle {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }

  }

  &__list {
    display: flex;
    flex-direction: column;

    @media #{$tabletD}{
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin: 0 2.5rem 2rem 4rem;

    cursor: pointer;

    @media #{$tabletD} {
      padding-bottom: 3rem;
      margin: 0 2.5rem;

      &.active .nav__link:after {
        position: absolute;
        top: 150%;
        left: calc(50% - 220px);

        display: flex;
        z-index: 13000;
        content: url("../img/icons/menu-after.png");
      }

      &.active > a {
        color: $grey-color;
      }

      &:hover, &:active, &:focus {
        border-bottom: none;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    white-space: nowrap;

    padding-bottom: 1rem;

    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $semi-black;

    border-bottom: 1px solid transparent;

    @media #{$tabletD}{
      font-size: 1.3rem;
      letter-spacing: 0.3em;

      padding-bottom: 0;
    }

    &:hover, &:active, &:focus {
      color: $grey-color;
    }

    &--light {
      color: $white-color;

      &:hover, &:active, &:focus {
        border-bottom: 1px solid $white-color;
      }
    }

    &--after {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        margin-left: .5rem;
        content: url("../img/icons/ar-down.svg");
        transition: all 0.3s;

        .active & {
          transform: rotate(-180deg);

          @media #{$tabletD} {
            transform: none;
          }
        }
      }

      @media #{$tabletD} {
        &::after {
          display: none;
          content: "";
        }
      }
    }
  }

  &--large-mb {
    display: none;

    @media #{$tabletD} {
      display: flex;
      justify-content: center;
      margin-bottom: 6.3rem;

      background: transparent;
    }
  }
}

.sub-menu {
  z-index: 13000;
  max-height: 0;
  overflow: hidden;

  transition: all .3s;

  &__item {
    margin-bottom: 1.6rem;
  }

  &__link {
    display: block;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: $mainLineHeight;
    color: $semi-black;

    &::before {
      display: block;
      height: 1px;
      content: attr(alt);
      font-weight: bold;
      color: transparent;
      visibility: hidden;
      margin-bottom: -1px;
    }

    &:hover, &:active, &:focus {
      font-weight: bold;
    }
  }

  &__inner {
    @media #{$tabletD} {
      padding: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media #{$tabletD} {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100.1%;
    height: auto;
    overflow: hidden;

    background: $white-color;

    position: absolute;
    top: 100%;
    left: -1px;

    &__list {
      columns: 3;
      width: 100%;
    }

    &__item {
      margin-bottom: 1.5rem;
    }

    &__link {
      display: block;
      color: $black-color;

      font-size: 1.8rem;
      line-height: $mainLineHeight;
      font-style: normal;

      &::before {
        display: block;
        height: 1px;
        content: attr(alt);
        font-weight: bold;
        color: transparent;
        visibility: hidden;
        margin-bottom: -1px;
      }

      &:hover, &:active, &:focus {
        font-weight: bold;
      }
    }

    &.show {
      z-index: 1000;
      padding: 5rem 0;

      height: auto;
    }
  }

}

.promotion {
  display: none;

  @media #{$tabletD} {
    display: block;
    border: 1px solid $grey;
    padding: 3.6rem 4rem;

    &__link {
      display: flex;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-right: 2.3rem;
    }

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 2.3rem;
      line-height: 130%;

      color: $semi-black;
      margin-bottom: 1.2rem;
    }

    &__desc {
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 145%;

      color: $dark-grey-color;
    }

    &__image-wrapper {
      width: 180px;
      height: 180px;
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tabletD} {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__item,
  &__link {
    font-size: 1.5rem;
    font-weight: 200;
    font-style: normal;
    line-height: 146%;

    margin-bottom: 1.5rem;
    order: 2;

    color: $white-color;
  }

  &--order {
    order: 4;
    margin-top: 6.1rem;
    color: $bold-grey-color;

    @media #{$tabletD} {
      color: $white-color;
      order: 1;
      margin-top: 0;
    }
  }
}

.swiper-main {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    color: $white-color;

    @media #{$tabletD} {
      align-items: flex-start;
      justify-content: space-between;
    }

    &--center {

      @media #{$tabletD} {
        // align-items: center;

        .swiper-main__content-inner {
          text-align: center;
        }
      }
    }

    &--right {
      @media #{$tabletD} {
        
        .swiper-main__content-inner {
          text-align: right;
        }
      }
    }
  }

  &__content-inner {
    width: 100%;
  }

  &__title {
    font-size: 3.2rem;
    line-height: $mainLineHeight;

    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    
    margin-bottom: 1rem;

    @media #{$tabletD-max}{
      text-align: center;
    }

    @media #{$tabletD}{
      font-style: normal;
      font-weight: bold;
      font-size: 5.5rem;
      margin-bottom: 3rem;

      // text-align: left;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: $mainLineHeight;

    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 5rem;

    @media #{$tabletD-max}{
      text-align: center;
    }

    @media #{$tabletD}{
      display: inline-block;
      font-weight: 300;
      font-size: 20px;

      max-width: 50rem;

      margin-bottom: 16rem;
    }
  }

  .swiper-box {
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 50%;
    transform: translateX(50%);

    display: flex;
    align-items: center;
    // justify-content: space-between;

    @media #{$tabletD} {
      top: auto;
      right: 5rem;
      bottom: 5rem;

      transform: none;
    }


    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 75%;
      margin: 0 auto;

      // @media #{$tabletD} {
      //   justify-content: flex-end;
      // }
    }

    &__arrows {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 300px;

      .swiper-button-prev,
      .swiper-button-next {
        position: static;
        transform: scale(0.7);

        @media #{$tabletD}{
          transform: scale(1);
        }
      }

      .swiper-button-prev {
        &::after {
          content: url("../img/icons/prev.svg");
        }
      }

      .swiper-button-next {
        &::after {
          content: url("../img/icons/next.svg");
        }
      }

      .swiper-desc {
        color: $white-color;
        z-index: 100;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 100%;

        @media #{$tabletD}{
          font-size: 2.2rem;
          line-height: 120%;
        }
      }
    }
  }

  .swiper-slide {
    height: 418px;
    display: flex;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media #{$tabletD}{
      height: 600px;
      padding: 5rem;
      box-sizing: border-box;
    }
  }
}

.swiper-item {
  display: none;

  &.active {
    display: flex;
    min-height: 300px;

    .swiper-wrapper {
      margin: auto;
    }

    @media #{$desktop} {
      min-height: 500px;
    }

    @media #{$desktopLG} {
      min-height: 550px;
    }
  }

  background: $light-grey-color;

  .swiper-button-prev {
    &::after {
      content: url("../img/icons/mini-prev.svg");
    }
  }

  .swiper-button-next {
    &::after {
      content: url("../img/icons/mini-next.svg");
    }
  }

  &--mb {
    margin-bottom: 2.3rem;

    @media #{$tabletD} {
      margin-bottom: 5.9rem;
    }
  }
}

.swiper-item-twin {
  display: none;

  &.active {
    display: flex;

    .swiper-wrapper {
      margin: auto;
    }

    @media #{$tabletD} {
      min-height: 300px;
    }
  }

  background: $light-grey-color;

  .swiper-button-prev {
    &::after {
      content: url("../img/icons/mini-prev.svg");
    }
  }

  .swiper-button-next {
    &::after {
      content: url("../img/icons/mini-next.svg");
    }
  }

  &--mb {
    margin-bottom: 2.3rem;

    @media #{$tabletD} {
      margin-bottom: 5.9rem;
    }
  }
}

.item-info {
  width: 100%;

  &__row:not(:last-of-type) {
    border-bottom: 1px solid #cfcfcf;
  }

  &__row &__title,
  &__row &__desc {
    width: 50%;
  }

  &__desc {

    &--left {
      text-align: left;
    }
  }

  &__title, &__desc {
    padding: 1.5rem 0;

    font-size: 1.3rem;
    line-height: $mainLineHeight;

    @media #{$tablet}{
      font-size: 1.4rem;
    }
  }
}

.sw-menu {
  &__nav {
    display: flex;
    overflow: auto;

    padding-bottom: 1rem;

    &--mb {
      margin-bottom: 2rem;

      @media #{$tabletD} {
        margin-bottom: 4rem;
      }
    }
  }

  &__list {
    display: flex;
    margin-right: 6.8rem;
  }

  &__item {
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;

    white-space: nowrap;

    display: block;
    cursor: pointer;

    color: #979797;
    margin-right: 3.1rem;

    &:hover, &:active, &:focus, &.active {
      font-weight: bold;
      color: $light-black;
    }

    &::before {
      display: block;
      height: 1px;
      content: attr(title);
      font-weight: bold;
      color: transparent;
      visibility: hidden;
      margin-bottom: -1px;
    }
  }

  &__image-wrapper {
    position: relative;

    display: none;

    &.active {
      display: flex;
    }

    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 600px;
    margin-bottom: 2rem;

    background: no-repeat center 0;
    background-size: cover;

    padding: 25px;

    @media #{$tabletD} {
      max-height: 600px;

      padding: 75px;
      margin-bottom: 0;
    }

    &:before {
      content: "";

      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-image: linear-gradient(180deg,rgba(0,0,0,0) 57.19%,rgba(0,0,0,.55));
      opacity: 0;
      transition: opacity .3s ease-in;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &__item-content {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: $mainLineHeight;

    color: $white-color;
    margin-bottom: .8rem;

    @media #{$tabletD} {
      font-size: 4.5rem;
      margin-bottom: 1.1rem;
    }
  }

  &__desc {
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 145%;

    color: $white-color;
    margin-bottom: 5.8rem;

    @media #{$tabletD} {
      font-size: 2rem;
    }
  }

  &__slider {
    display: none;

    &.active {
      display: flex;
    }

    .btn-group {
      position: absolute;
      top: 30px;
      right: 10px;

      width: 80px;
      height: 50px;

      &--relative {
        position: relative;
      }
    }

    .swiper-slide {
      min-height: 380px;

      @media #{$tabletD} {
        height: 600px;
      }
    }

    .swiper-button-prev:after {
      content: url("../img/icons/mini-prev.svg");
    }

    .swiper-button-next::after {
      content: url("../img/icons/mini-next.svg");
    }

    .swiper-button-disabled {
      pointer-events: unset;
    }
  }

  &--mb {
    margin-bottom: 4.7rem;

    @media #{$tabletD} {
      margin-bottom: 10.8rem;
    }
  }
}

.brands {

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-bottom: 0;

    @media #{$tabletD}{
      flex-direction: row;

      margin-bottom: 6.9rem;
    }
  }

  &__item {
    margin: 0 2.8rem 1rem 0;

  }

  &__link {
    display: block;
    font-style: normal;
    font-size: 1.6rem;
    line-height: $mainLineHeight;

    @media #{$tabletD}{
      font-size: 1.9rem;
    }


    color: #FFFFFF;

    &::after {
      margin-left: .4rem;
      content: url("../img/icons/vector-right.svg");
    }
  }
}

.card {
  display: block;
  
  height: 100%;

  background: $light-grey-color;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  &__first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img-wrap {
    max-width: 250px;
    max-height: 250px;
    
    mix-blend-mode: darken;

    margin: 3rem auto;

    @media #{$desktopLG} {
      max-width: 350px;
      max-height: 350px;
    }
  }

  &__image {
    width: 100%;
  }

  &__category {
    padding: 3rem 3rem 0 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 145%;

    color: $semi-black;
  }

  &__price-block {
    padding: 3rem 3rem 0;

    & span:first-child {
      font-weight: bold;
    }

    white-space: nowrap;
    font-size: 16px;
    line-height: $mainLineHeight;
    color: $light-black;
  }

  &__model {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: $mainLineHeight;

    color: $light-black;

    @media #{$tabletD}{
      font-size: 1.6rem;
    }
  }

  &__brand {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: $mainLineHeight;

    color: $light-black;

    @media #{$tabletD}{
      font-size: 2rem;
    }

    &--f30 {
      font-size: 2.5rem;

      @media #{$tabletD}{
        font-size: 3rem;
      }
    }
  }

  &__desc {
    padding: 0 3rem 3rem;
  }
}

.news {

  &--mb {
    margin-bottom: 2.9rem;

    @media #{$tablet} {
      margin-bottom: 9rem;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 145%;
    text-align: center;

    color: $semi-black;
    margin-bottom: 1.8rem;

    @media #{$tablet} {
      margin-bottom: 4.3rem;
      font-size: 35px;
    }
  }

  &__slider {
    padding-bottom: calc(7.2rem + 5%);

    .swiper-scrollbar {
      display: none;

      @media #{$tablet}{
        display: flex;
        width: calc(100% - 200px);
        bottom: 5%;
      }
    }

    .swiper-button-prev {
      top: unset;
      left: unset;
      bottom: calc(5% - 1rem);
      right: 100px;

      &::after {
        content: url("../img/icons/mini-prev.svg");
      }
    }

    .swiper-button-next {

      top: unset;
      bottom: calc(5% - 1rem);
      right: 50px;

      &::after {
        content: url("../img/icons/mini-next.svg");
      }
    }
  }
}

.specification {
  max-width: 2000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 480px;
  padding: 1rem 3rem;
  color: $white-color;
  margin: 0 auto;

  background: center no-repeat;
  background-size: cover;
  
  text-shadow: 0 4px 20px rgba(0,0,0,.5);

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 125%;
    text-align: center;

    margin-bottom: 1.1rem;

    @media #{$tablet} {
      font-size: 5.5rem;
      line-height: 145%;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;

    margin-bottom: 3.5rem;

    @media #{$tablet} {
      font-size: 2rem;
      line-height: 145%;
    }
  }

  @media #{$tabletD} {
    height: 600px;
  }

  &--mb {
    margin-bottom: 3.2rem;

    @media #{$tabletD} {
      margin-bottom: 9.2rem;
    }
  }
}

.additionally {
  background: $light-grey-color;
  padding: 3rem;

  &__title {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: $mainLineHeight;
    text-align: center;

    margin-bottom: 2.5rem;
    color: $mainFontColor;

    @media #{$tablet}{
      font-size: 45px;
      line-height: 130%;
    }
  }

  &__info {
    font-weight: bold;
    font-size: 2rem;
    line-height: $mainLineHeight;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media #{$tablet}{
      flex-direction: row;
    }
  }

  &__mail, &__tel {
    color: $black-color
  }

  &__mail--mr {
    margin-right: 0rem;

    @media #{$tablet} {
      margin-right: 3rem;
    }
  }

  @media #{$tablet}{
    padding: 10rem;
  }

  &--mb {
    margin-bottom: 3.4rem;
  }
}

.breadcrumbs {

  display: flex;
  align-items: center;

  &--pos {
    margin: 1.6rem 0 3.6rem;

    @media #{$tabletD}{
      margin: 5.8rem 0 8rem;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {

    &::after {
      content: "/";
      color: #C1C1C1;
      margin: 0 .7rem;
    }

    &:last-of-type {
      &::after {
        content: "";
      }
    }

    &:last-of-type .breadcrumbs__link {
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 170%;

    text-decoration: underline;
    color: #C1C1C1;

    @media #{$tablet}{
      font-size: 16px;
      line-height: 150%;
    }
  }

  &__back {

    &::after {
      @media #{$tablet} {
        display: inline-block;
        content: url("../img/icons/grey-next.svg");
      }
    }
  }
}

.sub-catalog {
  // display: none;

  padding-top: 1.6rem;
  padding-left: 2rem;

  // &:hover {
  //   display: block;
  // }

  &__item {
    margin-bottom: 1.6rem;
  }

  &__link {
    display: block;
    font-size: 1.6rem;
    line-height: $mainLineHeight;

    color: $black-color;

    &::before {
      display: block;
      content: attr(alt);
      margin-bottom: -1px;
      visibility: hidden;
      height: 1px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0);
    }
  }
}

.sidebar {
  display: none;

  &__form {
    width: 100%;

    @media #{$desktop} {
      width: 60%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 1.8rem;

    &.active {
      color: #c2c2c2;

      .sub-catalog {
        display: block;
      }

      .sidebar__link::after {
        content: url("../img/icons/arr-down.svg");
        transform: rotate(-180deg);
        transition: transform .4s;
      }

      & > a,
      & .sub-catalog__link:hover {
        font-weight: bold;
      }
    }
  }

  &__link {
    display: block;
    font-weight: normal;
    font-size: 1.6rem;

    color: $black-color;

    &::after {
      display: inline-block;
      line-height: 100%;
      margin-left: .5rem;
      margin-top: .1rem;
      content: url("../img/icons/arr-down.svg");
      transition: transform .4s;
    }

    &::before {
      display: block;
      content: attr(alt);
      margin-bottom: -1px;
      visibility: hidden;
      height: 1px;
      font-weight: bold;
      color: transparent;
    }

    &:hover, &:focus {
      font-weight: bold;
    }

    // &:hover + .sub-catalog{
    //   display: block;
    // }
  }

  &__hidden-xs {

    @media #{$mobile} {
      display: none;
    }
  }

  @media #{$tabletD} {
    display: block;
    // position: sticky;
    // top: 11rem;
    // max-height: calc(100vh - 120px);
    // overflow-y: auto;

    margin-bottom: 3.8rem;
  }

  .search-form {

    &__wrapper {
      position: relative;
      margin-bottom: 10rem;
    }

    &__input {
      width: 100%;

      font-size: 1.5rem;
      font-weight: 200;

      background: $white-color;
      padding: 1.5rem 3.5rem 1.5rem 0;

      color: $semi-black;
      border-bottom: 1px solid $semi-black;

      &::placeholder {
        line-height: $mainLineHeight;
        color: $semi-black;

        @media #{$tabletD}{
          color: #BBBBBB;
        }
      }

      &--white {
        background: $white-color;
      }
    }

    &__submit {
      position: absolute;
      right: 0;
      top: calc(50% - 35px / 2);

      width: 35px;
      height: 35px;

      cursor: pointer;
      background: transparent;

      &::before {
        content: url("../img/icons/search-cat.svg");
        display: inline-block;
        vertical-align: middle;
      }
    }

    &--pos {
      margin-top: 1.9rem;
      margin-bottom: 3.8rem;
    }
  }

  &--lk{
    display: block;

    padding-top: 1.7rem;
    padding-bottom: 2.8rem;

    .btn-prev {
      
      @media #{$desktop} {
        font-size: 1.6rem;

        margin-bottom: 8rem;
      }
    }

    .order-number {
      margin-bottom: 1rem;
    }

    .warning-link {
      display: inline-block;

      margin-bottom: 3.6rem;
    }

    .sidebar__list {
      border-top: 1px solid #E4E4E4;
      padding-top: 3.3rem;
      padding-bottom: 2rem
    }

    .sidebar__link {
      font-size: 1.6rem;
      font-weight: 700;
      color:#C4C4C4;

      &--active,
      &:hover {
        color: #000000;
      }

      &:after {
        display: none;
      }
    }
  }
}

.page-image {
  
  &__wrapper,
  &__img {
    width: 100%;
  }

  &__bg {
    padding-top: 46%;

    background-size: cover;
    background-position: 50% 50%;
  }

  &--mb {
    margin-bottom: 2.6rem;

    @media #{$tabletD}{
      margin-bottom: 5.3rem;
    }
  }

  &--picture {

    background: no-repeat center;
    background-size: cover;
    height: 201px;

    background-image: url("../img/photos/rem-sm.png");

    @media #{$tabletD} {
      height: 513px;
      background-image: url("../img/photos/rem.png");
    }

  }
}

.filters {

  &__sets {
    & .show {
      margin-bottom: 1.5rem;
    }
  }

  &__inner {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$tablet}{
      padding: 4rem 0;
    }
  }

  &__group {
    display: flex;

    @media #{$tablet} {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__characters {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media #{$tabletD} {
      flex-direction: row;
      // justify-content: flex-end;
      justify-content: flex-start;
    }

    &--single:not(:last-child) {
      margin-right: 7.4rem;
    }
  }

  &__btn {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: $mainLineHeight;
    cursor: pointer;

    color: $black-color;
    background: transparent;

    &--visibility {
      display: block;

      @media #{$tabletD} {
        display: none;
      }
    }

    &--visibility-sm {
      display: block;

      @media #{$tablet} {
        display: none;
      }
    }

    &:first-child {
      margin-right: 2rem;
    }
  }

  &__choice {

    &::before {
      display: inline-block;
      vertical-align: middle;
      margin-right: .5rem;
      content: url("../img/icons/filters.svg");
    }
  }

  &__search {

    &::before {
      display: inline-block;
      vertical-align: middle;
      margin-right: .5rem;
      content: url("../img/icons/search-cat.svg");
    }
  }

  &__menu {

    &::before {
      display: inline-block;
      vertical-align: middle;
      margin-right: .5rem;
      content: url("../img/icons/rects.svg");
    }
  }
}

.more {
  &__btn {
    display: flex;
    margin: auto;
    border: 1px solid #dedede;

    padding: 2.5rem 0;
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 147%;

    color: $light-black;
    cursor: pointer;

    &--content {
      margin: auto;

      &::after {
        display: inline-block;

        line-height: 100%;
        margin-left: .8rem;
        vertical-align: middle;
        color: $light-black;

        content: url("../img/icons/cross.svg");
      }

    }
  }

  &--mb {
    margin-bottom: 5rem;

    @media #{$tabletD}{
      margin-bottom: 15rem;
    }
  }
}

.item-image {
  display: flex;
  align-items: center;

  width: 300px;
  padding: 1.5rem;

  mix-blend-mode: multiply;
  background-color: #f8f8f8;

  margin: auto;

  img {
    width: 100%;
    margin: auto;
  }

  @media #{$tabletD} {
    // width: 400px;
    width: 100%;
  }
}

.double-image {
  background: #f8f8f8;

  img {
    mix-blend-mode: darken;
  }
}

// .double-image {
//   width: 100%;
//   padding: 1.5rem;

//   display: flex;
//   align-items: center;

//   img {
//     width: 50%;
//     height: auto;
//     margin: auto;
//   }
// }


.specific {

  &__vendor {
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: $mainLineHeight;

    color: $light-black;
    margin-bottom: 1.5rem;

    @media #{$tabletD} {
      font-size: 1.6rem;
    }

    &--size {
      display: none;

      &.active {
        display: block;
      }
    }

    &--mb {
      margin-bottom: 0;
    }
  }

  &__price-block {
    white-space: nowrap;
    font-size: 16px;
    line-height: $mainLineHeight;

    color: $light-black;
    margin-bottom: 2rem;
  }

  &__price {
    font-weight: bold;
  }

  &--mb {
    margin-bottom: 3rem;
  }

  &--mt {
    margin-top: 3rem;
  }

  &--pos {
    position: sticky;
    top: 11rem;
    margin-bottom: 8.4rem;
  }
}

.additional-filters {

  &__color-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: $mainLineHeight;

    color: $light-black;
    margin-bottom: 1.5rem;

    @media #{$tabletD} {
      font-size: 1.6rem;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    &:checked + .additional-filters__color-btn {

      &:before {
        border-color: #000000;
      }
    }
  }

  &__color-item {
    margin-bottom: 0;

    &:not(:last-of-type) {
      margin-right: 0.8rem;
    }

    @media #{$tabletD} {
      margin-bottom: 1.2rem;
    }

    label {
      display: inline-block;
      padding: 2px;
    }
  }

  &__color-btn {
    position: relative;

    width: 2.3rem;
    height: 2.3rem;
    // margin-bottom: 1.2rem;

    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 1.2rem;
    }

    @media #{$tabletD}{
      width: 2.6rem;
      height: 2.6rem;
    }

    &:before {
      content: '';

      position: absolute;
      z-index: 0;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      border: 2px solid #b4b4b4;
      border-radius: 50%;
    }

    &--black {
      background: $black-color;
    }

    &--white {
      background: $white-color;
    }

    &--red {
      background: red;
    }

    &--blue {
      background: blue;
    }

    &--pink {
      background: hotpink;
    }

    &--brown {
      background: saddlebrown;
    }

    &--silver {
      background: silver;
    }

    &--choice {
      background-image: conic-gradient(from 180deg at 50% 50%, #FD0000 0deg, #FFD600 91.88deg, #33FF00 178.12deg, #0029FF 258.75deg, #EB00FF 360deg);
    }

    &--image {
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  &__size-block {
    //columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.7rem;

    @media #{$tabletD}{
      margin-bottom: 2.8rem;
    }
  }

  &__size-item {
    // width: 25%;

    flex-grow: 0;
    flex-shrink: 0;

    margin-bottom: 1.2rem;
    white-space: nowrap;
    padding-right: 1rem;

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);

      &:checked + .additional-filters__size-btn {
        border-bottom: 1px solid $black-color;
        text-shadow: 0 0 1px $black-color;
      }
    }
  }

  &__size-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;

    color: $black-color;
    border-bottom: 1px solid transparent;
    background: transparent;
    cursor: pointer;

    padding: 0;

    @media #{$tabletD}{
    }
  }

  &--row {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;

    transition: all .3s;

    @media #{$tablet} {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .total__amount {
    margin-left: 0;
  }
}

.total {
  &__title {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: $mainLineHeight;

    color: $light-black;
    margin-bottom: 1.5rem;

    @media #{$tabletD} {
      font-size: 1.6rem;
    }
  }

  &__price-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    margin-bottom: 2.1rem;

    font-weight: bold;
    font-size: 1.8rem;
    line-height: $mainLineHeight;

    color: $light-black;

    @media #{$tabletD} {
      font-size: 2rem;
    }

    .total__price-old {
      color: #B4B4B4;
      text-decoration: line-through;
    }
  }

  &__price-new {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: $mainLineHeight;

    color: $light-black;

    @media #{$tabletD} {
      font-size: 2rem;
    }
  }

  &__discount {
    font-size: 14px;
    line-height: $mainLineHeight;
    font-weight: 300;

    color: #C1C1C1;

    @media #{$tabletD} {
      font-size: 1.6rem;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media #{$tabletD}{
      justify-content: flex-start;
    }
  }

  &__amount {
    font-size: 13px;
    line-height: 150%;
    text-align: center;

    margin: .5rem 1.6rem;
    color: #C1C1C1;
  }

  &__count-inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
}

.counter {
  display: inline-flex;
  align-items: center;

  background: $white-color;
  border: 1px solid #DBDBDB;
  border-radius: 5px;

  font-size: 1.9rem;
  line-height: 150%;

  button {
    padding: 1.6rem 1rem;
    line-height: 50%;
    cursor: pointer;
    background: transparent;

    &:hover {
      background: $light-grey-color;
    }
  }

  input {
    width: 4.5rem;
    text-align: center;

    @media #{$mobile}{
      font-size: 1.6rem;
    }
  }
}

input[type="number"]{
	-moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.accordeon {
  padding: 0;
  list-style: none;
  margin-bottom: 2.7rem;

  &__item {
    border-bottom: 1px solid $black-color;
  }

  &__button {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: $mainLineHeight;

    padding: 2rem .8rem 2rem 0;
    cursor: pointer;
    color: #000;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: url("../img/icons/mini-next.svg");
      transform: rotate(90deg);
      transition: transform 0.3s ease-in;
    }

    &.active:after {
      content: url("../img/icons/mini-next.svg");
      transform: rotate(-90deg);
      transition: transform 0.3s ease-in;
    }

    &.active {
      font-weight: bold;
    }

    &--inner {
      display: flex;
      flex-direction: column;

      @media #{$tabletD} {
        flex-direction: row;
        align-items: baseline;

        & span {
          margin-right: 2rem;
        }
      }
    }
  }

  &__dropdown-section {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease-in;
  }

  @media #{$tabletD}{
    margin-bottom: 8.4rem;
  }
}

.partners {

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media #{$tablet} {
      justify-content: flex-start;
    }
  }

  &__item {
    margin-bottom: 3.5rem;
    margin-right: 1.5rem;

    display: flex;
    align-self: center;
  }

  @media #{$tablet} {
    margin-right: 3.5rem;
    margin-left: 0;
  }

  &--pos {
    margin-top: 1.4rem;
    margin-bottom: 5rem;

    @media #{$tabletD} {
      margin-top: 2.4rem;
      margin-bottom: 8.4rem;
    }
  }
}

.partner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 177px;
  height: 177px;
  padding: 1rem;

  background: #f7f7f7;  
  mix-blend-mode: darken;

  &__image {
    margin: auto;
    // height: 10rem;

    img {
      height: 100%;      
      mix-blend-mode: darken;
    }
  }

  &__name {
    color: #c5c5c5;

    font-size: 16px;
    line-height: 150%;

    text-align: center;
  }
}

.comp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;

  &__link {
    display: inline-block;
    max-width: 136px;
    margin-bottom: 2rem;
  }

  &__img-wrapper {
    width: 100%;
  }

  &__image {
    width: 100%;
  }
}

.form-block {
  border: 1px solid $d-grey;
  background: $white-color;

  //padding: 2rem 3rem;
  display: flex;
  flex-direction: column;

  &__form {
    max-height: 0;
    overflow: hidden;

    transition: all .3s;
  }

  &__inner {
    padding: 0 3rem 2rem 3rem;

    @media #{$tabletD} {
      padding: 0;
    }
  }

  &__title {
    padding: 2rem 3rem;
    color: $black-color;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    &::after {
      content: url("../img/icons/plus.svg");
      transition: all .3s;

      @media #{$tabletD} {
        content: "";
      }
    }

    &.active::after {
      transition: all .3s;
      transform: rotate(45deg);
    }

    @media #{$tabletD}{
      padding: 0;
      font-size: 2.4rem;
      line-height: 150%;

      cursor: unset;
    }
  }

  &__group {
    display: inline-block;
    width: 100%;
    margin-bottom: 4.1rem;

    @media #{$tabletD}{
      margin-bottom: 2.3rem;
    }

    &:first-of-type {
      margin-top: 4.1rem;
    }

    span, p {
      font-style: normal;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 146%;

      color: #414141;

      @media #{$tablet}{
        font-size: 1.4rem;
      }
    }

    p.text-error {
      color: $error-color;
    }

    p.text-success {
      color: darken(#33ff00, 20);
    }
  }

  &__group-50 {

    @media #{$desktop}{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__group--half {
    width: 100%;

    &:first-of-type {
      margin-top: 0;
    }

    @media #{$desktop} {
      width: 50%;

      &:first-of-type {
        margin-top: 0;
        padding-right: 10px;
      }

      &:last-of-type {
        padding-left: 10px;
      }
    }
  }

  &__label {
    display: flex;
    flex-direction: column;

    &--row {
      position: relative;
      flex-direction: row;
      align-items: center;

      cursor: pointer;
      min-height: 24px;

      span {
        margin-left: 32px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;

        width: 24px;
        height: 24px;
        content: url("../img/icons/checkbox.svg");
      }
    }
  }

  .checked::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;
    content: url("../img/icons/checked.svg");
  }

  &__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;

    color: $black-color;
    padding: .7rem 0;

    border-bottom: 2px solid #C9C9C9;

    &::placeholder {
      font-size: 1.2rem;
      color: #C9C9C9;

      @media #{$tablet}{
        font-size: 1.4rem;
      }
    }

    &--hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }

    @media #{$tablet}{
      padding: 1rem 0;
    }
  }

  & .border-error {
    color: $error-color;
    border-bottom-color: $error-color;
  }

  &--pos {
    margin-bottom: 7.7rem;

    @media #{$tabletD}{
      margin-bottom: 19rem;
    }
  }

  @media #{$tabletD}{
    margin-top: -10rem;
    margin-right: 2rem;
    padding: 10.7rem 8.3rem;
  }
}

.link-group {
  display: none;

  &__title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: $mainLineHeight;
    margin-bottom: 1.2rem;

    color: $black-color;
  }

  &__item {
    font-weight: 200;
    line-height: $mainLineHeight;

    color: $black-color;

    @media #{$tablet} {
      font-size: 2.4rem;
    }

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }

    &:first-of-type {
      margin-right: 11.8rem;
    }
  }

  @media #{$tablet} {
    display: flex;
    flex-direction: column;
    margin-bottom: 8.5rem;

    &--m0 {
      margin-bottom: 0;
    }
  }

}

.contacts {
  &__title {
    font-size: 2rem;
    line-height: $mainLineHeight;

    color: $black-color;
    margin-bottom: 3.2rem;

    @media #{$tablet} {
      font-size: 3rem;
      margin-bottom: 4.7rem;
    }
  }

  &__info {
    font-size: 1.4rem;
    line-height: $mainLineHeight;

    color: $black-color;
    margin-bottom: 3.2rem;
    padding-right: 0;

    @media #{$tablet}{
      font-size: 1.8rem;
    }

    &--before {
      &:before {
        display: inline-block;
        vertical-align: middle;
        line-height: 100%;
        content: url("../img/icons/metro.svg");
        margin-right: .5rem;

        @media #{$tablet}{
          margin-right: 1rem;
        }
      }
    }

    &--lh {
      line-height: 170%;

      @media #{$tablet}{
        line-height: 220%;
      }
    }

    &--mb {
      margin-bottom: 7.5rem;
    }

    &--map {
      max-width: 100%;
      max-height: 500px;
      overflow: hidden;

      script {
        width: 100%;
        height: auto;
      }
    }
  }

  &__link {
    color: $black-color;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }

  &__item {
    margin-bottom: .7rem;

    @media #{$tablet} {
      margin-bottom: 1.5rem;
    }
  }

  &--mb {
    margin-bottom: 5rem;

    @media #{$tablet} {
      margin-bottom: 7.1rem;
    }
  }

  &--before {
    display: flex;
    align-items: flex-start;

    &::before {
      content: url("../img/icons/attention.svg");
      display: inline-block;
      vertical-align: middle;
      line-height: 100%;
      margin: 0 1.5rem 0 0;

      @media #{$tablet} {
        margin-top: .7rem;
      }
    }

  }
}

.visibility-lg {
  display: none;

  @media #{$tabletD} {
    display: inline-block;
  }
}

.sep {
  margin-bottom: 3rem;
}

.js-animated {
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;

  top: 0;
  left: 0;

  background: $white-color;
  z-index: 13000;
  transition: all .5s;

  .js-image {
    position: absolute;
    top: calc(50% - 44px);
    left: calc(50% - 123.5px);
    opacity: 0;
    width: 247px;

    transition-property: width, top, left, opacity;
    transition-delay: 2s, 2s, 2s, 1s;

    transition-duration: 2s, 2s, 2s, 3s;
  }
}

.tidings {
  display: block;
  position: relative;

  &__img-wrapper {
    position: relative;
    padding-top: 113%;

    // height: 390px;

    // @media #{$tablet} {
    //   height: 540px;
    // }
  }


  &__image {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 200;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.19%, rgba(0, 0, 0, 0.55) 100%);

    opacity: 1;
    transition: opacity .3s ease-in;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27.19%, rgba(0, 0, 0, 0.55) 100%);

    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  &:hover {
    &::before {
      opacity: 1;
      transition: opacity 0.3s ease-in;
    }

    &::after {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }

  &__text-inner {
    padding: 3rem;
    width: 100%;
    height: 100%;
    color: $white-color;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{$tabletH} {
      // padding: 6rem;
      padding: 4rem;
    }
  }

  &__category {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: $mainLineHeight;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: $white-color;

    @media #{$tablet} {
      font-size: 1.7rem;
    }
  }

  &__desc-title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: $mainLineHeight;

    margin-bottom: 1.6rem;

    @media #{$tablet} {
      font-size: 2.2rem;
    }
  }

  &__desc-text {
    display: none;

    @media #{$tablet} {
      display: block;

      font-weight: 300;
      font-size: 1.8rem;
      line-height: $mainLineHeight;

      margin-bottom: 3.1rem;

    }
  }

  &__text-content {
    font-size: 1.4rem;
    color: $white-color;

    @media #{$tablet} {
      font-weight: 300;
      font-size: 1.8rem;
      line-height: $mainLineHeight;

    }
  }

  &__title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 125%;
    margin: 1.3rem 0;

    color: #FFFFFF;

    @media #{$tabletD}{
      font-size: 3rem;
    }
  }

  &__collection {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: $mainLineHeight;

    color: #FFFFFF;

    @media #{$tabletD} {
      font-size: 2rem;
    }
  }

  &--mb {
    min-height: calc(100% - 4rem);
    margin-bottom: 4rem;
  }

  &--max-height {
    max-height: 560px;
  }

  &--horizontal {

    @media #{$tabletH} {

      .tidings__img-wrapper {
        padding-top: 0;
      }

      .tidings__image {
        position: relative;
        width: auto;
        height: auto;
      }
    }
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  overflow: hidden;
  cursor: pointer;

  min-height: 330px;
  position: relative;
  padding: 2rem;

  background: center no-repeat;
  background-size: cover;

  &__title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 150%;
    z-index: 100;

    color: $white-color;
    margin-bottom: .9rem;

    @media #{$tablet} {
      font-size: 3rem;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: $mainLineHeight;

    color: $white-color;
    margin-bottom: .9rem;
    z-index: 100;

    @media #{$tablet}{
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
    }
  }

  &__nav {
    display: none;
    z-index: 100;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__nav-item {
    margin-right: 2rem;
    margin-top: 1.5rem;

    @media #{$tabletD}{
      margin-right: 4rem;
    }
  }

  &__nav-link {
    display: block;
    color: $white-color;

    font-weight: bold;
    font-size: 1.5rem;

    @media #{$tabletD}{
      font-size: 1.9rem;
    }

    &:hover, &:active, &:focus {
      opacity: .5;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.19%, rgba(0, 0, 0, 0.55) 100%);

    opacity: 1;
    transition: opacity .3s ease-in;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27.19%, rgba(0, 0, 0, 0.55) 100%);

    opacity: 0;
    transition: opacity 0.3s ease-in;

  }

  &:hover {
    &::before {
      opacity: 1;
      transition: opacity 0.3s ease-in;

    }

    .catalog__nav {
      display: block;
    }

    &::after {
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }

  @media #{$tabletD}{
    min-height: 560px;
    padding: 3.7rem;
  }

  &--pos {
    margin: 1.5rem 0;
  }
}

.row {
  &--mb {
    margin-bottom: 13rem;

    @media #{$tablet}{
      margin-bottom: 25.5rem;
    }
  }

  &--mb-small {
    margin-bottom: 1.5rem;

    @media #{$tabletD}{
      margin-bottom: 5.6rem;
    }
  }
}


.order-number {

  &.shaker {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &--lined {
    display: flex;
    align-items: center;
  }

  &__header {    
    font-size: 1.2rem;
    font-weight: 700;
    color: #252525;

    margin-right: 1rem;

    @media #{$desktop} {
      font-size: 1.6rem;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.3rem;
    color: #000000;

    @media #{$desktop} {
      font-size: 1.5rem;
    }

    &:after {
      content: url('../img/icons/cube.svg');

      display: inline-block;
      vertical-align: middle;
      
      line-height: 100%;
      margin-left: 0.7rem;
    }
  }

  &__price {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.warning-link {
  font-size: 1.6rem;
  color: #C1C1C1;
  text-decoration: underline;

  &:hover {
    color: #000000;
  }

  &:before {
    content: url('../img/icons/warning.svg');

    display: inline-block;
    vertical-align: middle;
    
    line-height: 100%;
    margin-right: 0.5rem;
  }
}

.search-line {
  position: relative;

  &:after{
    content: url('../img/icons/search-cat.svg');
    position: absolute;
    top: 0.4rem;
    right: 0;

    @media #{$desktop} {
      content: url('../img/icons/search-cat-grey.svg');
      top: 2rem;
      right: 2.5rem;
    }
  }

  &__input {
    width: 100%;

    font-family: Circle, sans-serif;
    font-size: 1.5rem;
    color: #000000;

    background-color: #fff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #000;

    padding: .3rem 2.5rem 1rem 0;
    box-sizing: border-box;

    @media #{$desktop} {
      font-size: 1.6rem;

      background-color: $light-grey-color;
      border: 1px solid #E8E8E8;
      padding: 2rem 6rem 2rem 3.5rem;
    }

    &::placeholder {
      color: #838383;
      opacity: 1;
    }
  }
}

.white-bg {
  background-color: #fff;
}

.logout-btn {
  display: flex;
  align-items: center;

  font-size: 1.5rem;
  line-height: 1.1em;
  color: #000000;

  span {
    border-bottom: 1px solid;
  }
  
  &:after {
    content: url('../img/icons/logout.svg');
    
    display: inline-block;
    vertical-align: middle;
    
    line-height: 100%;

    margin-left: 1rem;
  }
}

.status {

  img {

    @media #{$desktop} {
      margin-right: 1rem;
    }
  }

  span {

    @media #{$desktop-max} {
      display: none;
    }
  }

  @media #{$desktop} {

    &--blue span {
      color: #00308E;
    }

    &--yellow span {
      color: #F2BC00;
    }

    &--green span {
      color: #1E7310;
    }
  }
}

.icon-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  
  padding: 0;

  svg {
    height: 1.6rem;

    @media #{$desktop} {
      height: 2rem;
    }
  }

  + .icon-btn {
    margin-left: 1rem;

    @media #{$desktop} {
      margin-left: 2rem;
    }
  }
}

.pagination{
  display: flex;
  align-items: center;

  &__header {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;

    margin-right: 1.3rem;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item{
    // margin-right: 2.2rem;
  }

  &__link{
    display: block;

    width: 2.8rem;
    text-align: center;
    border-radius: 100%;

    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: #c4c4c4;
    
    text-decoration: none;

    &--active{
      color: #000000;
      background-color: #E9E9E9;
    }

    &:hover{
      color: #000000;
    }

    &:not(.pagination__link--active) {
      
      @media #{$desktop-max} {
        display: none;
      }
    }

    &--less,
    &--more{
      position: relative;
      width: 2.8rem;
      height: 2.8rem;

      @media #{$desktop-max} {
        display: block !important;
      }

      &:before{
        content: '';
        position: absolute;
        top: 50%;

        width: 1rem;
        height: 1rem;
        border-bottom: 2px solid #000000;
        border-right: 2px solid #000000;
      }
    }

    &--less:before{
      left: 4px;
      transform: translate(50%, -50%) rotate(135deg);
    }

    &--more:before{
      left: 0;
      transform: translate(50%, -50%) rotate(-45deg);
    }
  }
}

.switch {
  display: flex;
  
  background: #F6F5F4;
  border-radius: 3rem;
  padding: 3px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    &:not(:checked) + .switch__var {
      color: #000000;
      background-color: #fff;
    }

    &:checked + .switch__var + .switch__var {
      color: #000000;
      background-color: #fff;
    }
  }
  
  &__var {
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: #ABABAB;
    
    width: 3.2rem;
    text-align: center;
    border-radius: 50%;

    cursor: pointer;
  }
}

.color-round {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #fff;

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
  }
}

.input-line {

  &__label {
    font-size: 1.4rem;
    font-weight: 700;

    &--mgb {
      margin-bottom: 0.3em;
    }

    @media #{$tablet} {
      margin-bottom: 1rem;
    }
  }

  &__input {
    font-family: 'Circle', sans-serif;
    font-size: 1.6rem;
    color: #000000;

    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    box-sizing: border-box;

    border: none;
    border-bottom: 1px solid #C9C9C9;

    @media #{$tablet} {
      border: 1px solid #D3D3D3;
      border-radius: 4px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &::placeholder {
      color: #ABABAB;
    }

    &.has-error {
      border-color: #c00;
    }
  }
}

.switch-line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__label {
    font-size: 1.4rem;
    color: #414141;

    margin-right: 1rem;
  }
}

.comment-popup{
  position: relative;
  display: inline-block;

  &__popup {
    display: none;

    position: absolute;
    bottom: 100%;
    right: 50%;

    width: 26rem;

    font-size: 1.4rem;
    text-align: left;

    background: #F8F8F8;
    border: 1px solid #BCBCBC;

    padding: 1.9rem;

    @media #{$mobile} {
      transform: translateX(50%);
    }

    @media #{$tablet} {
      right: 0;
    }

    &--active {
      display: block;
    }
  }
}

.form-title {
  font-size: 1.7rem;
  font-weight: 700;

  margin-bottom: 2rem;

  @media #{$tablet} {
    font-size: 2rem;
  }
}

.select {
  position: relative;

  &:after {
    content: '';

    position: absolute;
    top: 50%;
    right: 1.5rem;

    width: 0.8rem;
    height: 0.8rem;

    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;

    transform: rotate(45deg) translate(-50%, -50%);
  }

  select {
    width: 100%;

    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;

    padding: 13px 30px  13px 15px;
    background-color: #272727;
  }
}

.radio-list {
  display: flex;
  flex-wrap: wrap;
  
  &__item {

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    &:checked + .radio-list__label {
      color: #ffffff;
      background-color: #272727;

      cursor: default;
    }
  }

  &__label {
    width: 20rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    font-weight: 700;
    color: #696969;
    text-align: center;

    padding: 1rem 1.8rem;
    background-color: #F6F5F4;
    box-sizing: border-box;

    cursor: pointer;
  }
}

.check {
  cursor: pointer;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);

    &:checked + .check__label:before{
      content: url("../img/icons/checked.svg");
    }
  }

  &__label {
    position: relative;

    font-size: 1.4rem;
    line-height: 1.46em;
    color: #414141;

    padding-left: 3.2rem;

    &:before{
      content: url("../img/icons/checkbox.svg");

      position: absolute;
      top: -3px;
      left: 0;

      width: 24px;
      height: 24px;
    }
  }
}

.const-setting {
  margin-bottom: 3rem;

  @media #{$tablet} {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__item {
    font-size: 1.3rem;
    line-height: 1.3em;

    margin-bottom: 1.5rem;

    @media #{$tablet} {
      font-size: 1.4rem;

      margin-right: 2rem;
    }

    &--line {

      @media #{$mobile} {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__title {
    font-weight: 700;
    color: #000000;

    padding-right: 1rem;

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    @media #{$tablet} {
      padding: 0;
      padding-bottom: 1rem;
    }
  }

  &__value {
    color: #202020;

    @media #{$tablet} {
      font-size: 1.5rem;
    }

    &--company {
      font-size: 1.5rem;
    }
  }
}

.data-container {
  font-size: 1.4rem;
}

.search-preloader {
  display: none;

  font-size: 1.4rem;
}


.sliders-btn {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 10px;

  display: flex;
  align-items: center;

  .slider-btn--next {
    margin-left: 10px;
  }
}

.slider-btn {
  width: 78px;
  height: 25px;

  border: none;
  background-repeat: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='78' height='25' viewBox='0 0 78 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.9827 1L77 12.5M77 12.5L64.9827 24M77 12.5H0' stroke='white'/%3E%3C/svg%3E%0A");
  cursor: pointer;
  
  &--prev {
    transform: scale(-1);
  }

  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.no-page {
  text-align: center;

  padding-top: 6rem;
  padding-bottom: 6rem;

  @media #{$tablet} {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  &__img {
    margin-bottom: 5rem;

    @media #{$tablet} {
      margin-bottom: 7rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;

    @media #{$tablet} {
      font-size: 3.7rem;
    }
  }
}

.no-result {
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 700;
  color: #333333;

  background: #f8f8f8;
  padding: 3rem 2rem;

  margin-bottom: 5rem;
}

.news__slider {

  .swiper-slide {
    height: auto;
  }
}

.cow {	
	position: fixed;
	bottom: 0;
  top: 0;
	left: 0;
	right: 0;
	z-index: 101;

  display: none;
  align-items: center;
  justify-content: center;

	background-color: rgba(0,0,0, 0.4);

  @media #{$tabletD} {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

	&__container {
		position: relative;

    padding: 3rem 2rem;
    max-width: 60rem;

    background-color: #121212;
	  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	}

	&__text {
		font-size: 1.4rem;
		line-height: 1.3em;
		color: rgba(255, 255, 255, 0.5);
		
		margin: 0 0 2rem 0;

		@media #{$tabletD} {
      font-size: 1.6rem;
		}

    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: underline;
    }
	}

	&__close {
    padding: 0.5rem 2rem;

    &:hover {
      background: transparent;

      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.5);
    }
	}	
}

.table-total {
  font-size: 2rem;

  margin-bottom: 1.5rem;

  @media #{$tabletD} {
    margin-bottom: 3rem;
  }

  &__value {
    display: flex;
    justify-content: space-between;
  }

  span {
    font-weight: 700;
  }
}

.text-page {
  max-width: 83rem;

  font-size: 1.4rem;
  line-height: 1.5em;

  margin-bottom: 5rem;

  @media #{$tabletD} {
    font-size: 1.8rem;

    margin-bottom: 10rem;
  }

  p + p{
   margin-top: 1em;
  }

  &__block {
    margin-bottom: 5rem;

    @media #{$tabletD} {
      margin-bottom: 8rem;
    }
  }

  &__block-header {
    font-size: 1.6rem;
    font-weight: 700;

    margin-bottom: 2rem;

    @media #{$tabletD} {
      font-size: 2.2rem;
    }
  }
}

@import "lk";
@import "modules/pretty-table";
@import "modules/cart__footer";
@import "modules/e-form";
@import "modules/checkout";
@import "modules/c-form";