.lk {
  padding-bottom: 6rem;

  @media #{$desktop} {
    padding: 5.5rem 1.5rem 14rem;
  }

  &__search-line {
    margin-bottom: 2.5rem;

    @media #{$desktop} {
      margin-bottom: 5rem;
    }
  }

  .page-title {
    margin-bottom: 1.7rem;

    @media #{$desktop} {
      margin-bottom: 2.4rem;
    }
  }
}

.delete-order {
  display: flex;
  align-items: center;

  &__header {
    font-size: 1.5rem;
    font-weight: 700;
    color: #C2C2C2;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-right: 0.6rem;
  }

  &__number {
    font-size: 2rem;
    line-height: 2em;
    font-weight: 700;
    color: #000000;

    background: #F6F5F4;
    border-radius: 3rem;

    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}