
.modal {
  display: none;

  &.show {
    display: flex;
  }

  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  padding-bottom: 5rem;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 14000;
  overflow: auto;

  background: rgba(0, 0, 0, 0.31);
  width: 100vw;
  height: 100vh;

  &__window {
    position: relative;
    background: $white-color;

    padding: 5rem;
    max-width: 918px;

    @media #{$tablet} {
      padding: 7.8rem 8.2rem;
    }
  }

  &__desc {
    font-size: 1.2rem;
    line-height: 145%;

    color: #C9C9C9;
    margin-bottom: 2.2rem;
  }

  &__close-btn {
    display: inline-block;

    position: absolute;
    top: 2.8rem;
    right: 2.5rem;

    cursor: pointer;
    padding-right: 0;
    background-color: transparent;
    // width: 2.1rem;
    // height: 2.1rem;

    &::after {
      content: url("../img/icons/modal-close.svg");
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 145%;
    margin-bottom: 1.3rem;

    color: $black-color;

    @media #{$tablet}{
      font-size: 2rem;
      margin-bottom: 3.3rem;
    }

    &--f30 {
      font-size: 2.2rem;
      margin-bottom: 1.3rem;

      @media #{$tablet}{
        font-size: 3rem;
        margin-bottom: 2.3rem;
      }
    }

    &--f43 {
      font-size: 2.8rem;
      margin-bottom: 2.4rem;

      @media #{$tablet}{
        font-size: 4.3rem;
        margin-bottom: 4.7rem;
      }
    }

    &--grey {
      font-size: 1.5rem;
      color: #C2C2C2;
      text-transform: uppercase;

      margin-bottom: 1.1rem !important;
    }

    &--name {
      margin-bottom: 0.2rem !important;
    }

    &--branch {
      font-size: 1.4rem !important;

      margin-bottom: 2.3rem;
    }
  }

  &__info {
    font-size: 1.6rem;
    line-height: $mainLineHeight;
    margin: 0 auto 2.3rem;

    color: $black-color;

    &--grey {
      font-size: 1.4rem;
      color: #949494;
      border-top: 1px solid $black-color;
      margin-bottom: 0;
    }
  }

  &__link-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    font-size: 1.2rem;

    @media #{$tablet}{
      flex-direction: row;
      font-size: 1.6rem;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1.6rem;
    line-height: $mainLineHeight;

    color: $black-color;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $black-color;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__btns-line {
    display: flex;
    align-items: center;

    margin-bottom: 2rem;

    .button {
      font-size: 1.6rem;

      margin-right: 2rem;
    }

    .modal__link {
      cursor: pointer;
    }
  }

  &__counter {
    font-size: 1.4rem;
    color: #696969;

    .seconds {
      display: inline-block;
      
      margin-right: 0.3em;
    }
  }

  @media #{$tablet} {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  &.modal-news {

    .modal__window {
      position: relative;
      background: $white-color;
      max-width: 800px;
    }

    .modal__btn-close {
      display: inline-block;

      position: absolute;
      top: 3rem;
      right: 3.3rem;
      z-index: 15000;

      cursor: pointer;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;

      &::after {
        content: url("../img/icons/modal-close-btn.svg");
      }
    }

    .modal__header {
      height: 18.2rem;
      width: 100%;
      background: no-repeat center;
      background-size: cover;

      @media #{$tablet} {
        height: 29.2rem;
      }
    }

    .modal__body {
      padding: 3rem 3.6rem;

      @media #{$tablet}{
        padding: 7rem 7.6rem;
      }

      .modal__title {
        font-weight: bold;
        font-size: 2rem;
        line-height: 130%;
        margin-bottom: 1.3rem;

        color: $black-color;

        @media #{$tablet}{
          font-size: 3.5rem;
          margin-bottom: 4rem;
        }
      }

      .modal__content {
        font-size: 1.4rem;
        line-height: 170%;

        color: #000000;

        @media #{$tablet}{
          font-size: 1.8rem;
        }

        &--paragraph {
          margin-bottom: 1.3rem;

          @media #{$tablet}{
            margin-bottom: 4rem;
          }
        }
      }
    }
  }
}

.modal--delete {
  align-items: center;

  .modal__window {
    width: 100%;
    max-width: 65rem;
    padding: 5rem 3rem 2rem 3rem;

    margin-left: 1rem;
    margin-right: 1rem;

    @media #{$tablet} {
      padding: 5.5rem 4.5rem;
    }
  }

  .delete-order {
    margin-bottom: 2rem;

    @media #{$tablet} {
      margin-bottom: 4.5rem;
    }
  }
}

.modal--employee {
  width: 100%;
  height: 100%;

  align-items: center;

  padding: 0 !important;

  .modal__window {
    width: 100%;
    max-width: 92rem;
    max-height: 100%;
    overflow-y: auto;

    padding-left: 2rem;
    padding-right: 2rem;


    @media #{$tablet} {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    @media #{$tabletD} {
      padding-left: 12rem !important;
      padding-right: 12rem !important;
    }
  }

  .modal__title--f30 {
    margin-bottom: 4rem;
  }

  .modal__btns-line {
    
    @media #{$mobile} {
      display: block;
      
      text-align: center;

      .button {
        margin-right: 0;
      }
    }
  }
}

.form {

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    font-weight: bold;
    font-size: 1.2rem;
    line-height: $mainLineHeight;

    margin-bottom: .3rem;

    @media #{$tablet} {
      font-size: 1.4rem;
      margin-bottom: .5rem;
    }

    &--radio {
      display: flex;
      align-items: center;
      flex-direction: row;

      font-size: 1.2rem;
      line-height: $mainLineHeight;

      color: #C9C9C9;

      &:first-child {
        margin-right: 2.5rem;
      }

      @media #{$tablet} {
        font-size: 1.4rem;
      }
    }

    &--checkbox::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 24px;
      content: url("../img/icons/checkbox.svg");
    }

    &.checked::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 24px;
      content: url("../img/icons/checked.svg");
    }

    &--row-lg {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:last-of-type) {
        @media #{$tablet} {
          margin-right: 5.4rem;
        }
      }

      & > span {
        margin-right: 1.5rem;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.8rem;


    &--row {
      flex-direction: column;

      @media #{$tablet} {
        flex-direction: row;
      }
    }

    &--row-between {
      flex-direction: column;

      @media #{$tablet} {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    &--border-bottom {
      border-bottom: 1px solid #212121;
      padding-bottom: 3.7rem;
      margin-bottom: 3.7rem;
    }
  }

  &__link {
    color: #C9C9C9;
    cursor: pointer;

    &.active {
      color: #414141;
    }
  }

  &__input {
    border: 1px solid #D3D3D3;
    padding: .9rem .6rem;

    &--hidden {
      display: none;
    }

    &--checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }
  }

  &__help {
    font-size: 1.4rem;
    line-height: 120%;
    font-weight: 400;

    margin-top: .8rem;
    color: #818181;

    &--12 {
      font-size: 1.2rem;
    }
  }

  select {
    padding-right: 5rem;
    background: url("../img/icons/arrow-select.svg") 95% 50% no-repeat;
  }

  &__reset-btn {
    margin: 2.5rem 0 0 !important;

    @media #{$tablet} {
      margin: 0 !important;
    }

    &::before {
      content: url("../img/icons/trash.svg");

      display: inline-block;
      margin-top: .1rem;
      margin-right: .7rem;

      vertical-align: middle;
      line-height: 100%;
    }
  }

  &__checkbox-helper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 .7rem 0 .4rem;
    width: 6rem;
    height: 2.9rem;

    position: relative;
    background: #C4C4C4;
    border-radius: 3rem;

    span {
      display: flex;
      color: white;
      z-index: 5000;
      font-size: 1.2rem;
    }

    .js-thumb {
      position: absolute;
      top: 0;
      left: 0;

      background: $black-color;
      border-radius: 3rem;
      width: 2.9rem;
      height: 2.9rem;

      content: "";

      transition-property: left;
      transition-duration: .15s;
    }

    transition-property: background-color;
    transition-delay: .1s;
    transition-duration: .1s;
  }

  &__btn-group {
    display: flex;
    align-items: center;
    flex-direction: column;


    @media #{$tabletD} {
      flex-direction: row;
      margin-right: 7.8rem;
    }

    & input:not(:last-of-type) {
      @media #{$tabletD} {
        margin-right: 1.5rem;
      }
    }
  }
}

.text-error {
  color: $error-color;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 146%;
}

.border-error {
  color: $error-color !important;
  border-color: $error-color !important;
}

#regBtn {
  &:disabled {
    cursor: not-allowed;
  }
}

