footer.footer
    .container
        .logotype-block
            a.logotype-block__wrapper(href="#" title="Stailer group")
                img.logotype-block__image(src="/assets/img/logotype/logo-white.svg")
        nav.nav.nav--large-mb
            ul.nav__list
                each name,key in {"catalog.html":"Каталог","about.html":"О нас","terms.html":"Условия сотрудничества","delivery.html":"Доставка","contacts.html":"Контакты"}
                    li.nav__item
                        a.nav__link.nav__link--light(href=key alt=name)=name
        ul.copyright
            li.copyright__item.copyright--order &#169; 2015-21 Stailer
            li.copyright__item
                  |Malaya Pirogovskaya str,
                  br
                  |119435 Moscow, Russia
            li.copyright__item
                  a.copyright__link(href="tel:+74952800798" title="Позвоните нам") Tel: +7 495 280–07–98
            li.copyright__item
                a.copyright__link(href="mailto:cis@stailer.com" title="Напишите нам") E-mail: cis@stailer.com
        ul.footer__privacy
            li.footer__privacy-item
                a.footer__privacy-link(href="#") Правовая информация
            li.footer__privacy-item
                a.footer__privacy-link(href="#") Обработка персональных данных
