header.h-lk
	.h-lk__container.container.container--lk
		.row
			.h-lk__logo-wrp.col-lg-3
				a.h-lk__logo(href="#")
					img(src="/assets/img/logotype/logotype.svg", alt="")
			.h-lk__parts-wrp.col-md-12.col-lg-9
				.h-lk__part.h-lk__part--company.h-lk__part--hidden-xs
					p.h-lk__part-bold Компания
					p.h-lk__part-thin Название компании
				.h-lk__part.h-lk__part--employee.h-lk__part--hidden-xs
					p.h-lk__part-bold Сотрудник
					p.h-lk__part-thin 
						| Лазарев И.В.
						span Менеджер по продажам
				.h-lk__part.h-lk__part--order-number.h-lk__part--bordered.order-number
					p.order-number__header Ваш заказ
					p.order-number__number 14
				.h-lk__part.h-lk__part--bordered.h-lk__part--sum
					p.h-lk__part-bold Сумма заказа
					p.h-lk__part-thin 3499 &#8381;
				.h-lk__part.h-lk__part--side.h-lk__part--bordered
					a.logout-btn(href='#')
						span Выйти
					a#toggle.nav__btn-toggle
						span.top
						span.middle
						span.bottom