header.header.header-js-animation
    .container.container-position
        .header__first-line.animate__animated.animate__fadeInDown.animate__delay-5s
            .header__btn-group

                div.header__btn-group--login-block
                    a.auth-link.js-login-modal(href="#", alt="login")
                        .auth-link__image-wrapper
                            img.auth-link__image(src="/assets/img/icons/person.svg")
                        span вход
                    a.auth-link.auth-link--lg.js-register-modal(href="#", alt="login") регистрация
                a#toggle.nav__btn-toggle
                    span.top
                    span.middle
                    span.bottom

        .logotype-block
            a.logotype-block__wrapper(href="main-page.html" title="Stailer group")
                img.logotype-block__image(src="/assets/img/logotype/logotype.svg")
            .js-animated
                .logotype-block__wrapper.js-image
                    img.logotype-block__image(src="/assets/img/logotype/logotype.svg")
            h1.header__tagline
                span Оптовые поставки ремней и браслетов для часов
                span.header__tagline.header__tagline--dark-grey с 1996 года
        nav.nav.js-navigation
            ul.nav__list
                li.nav__item.nav__item--xs
                    a.nav__link.js-login-modal(href="#") Вход
                li.nav__item.nav__item--xs
                    a.nav__link.js-register-modal(href="#") Регистрация
                li.nav__item
                    a.nav__link.nav__link--after(href="#" alt="Каталог") Каталог
                    .sub-menu
                        .sub-menu__inner
                            .input-group.d-lg-none
                                label.input-group__label(for="search-item") Поиск по каталогу
                                input#search-item.input-group__input-catalog(type="text")
                            ul.sub-menu__list
                                each name,key in {"catalog.html":"Кожаные ремни","about.html":"Стальные браслеты","delivery.html":"Ремни нейлоновые","terms.html":"Батарейки","contacts.html":"Каучук","cata.html":"Инструменты","abo.html":"Механизмы","deli.html":"Клипсы","term.html":"Пластик","contact.html":"Шпильки","del.html":"Стекла для часов","ter.html":"Торговое оборудование","cont.html":"Аксессуары"}
                                    li.sub-menu__item
                                        a.sub-menu__link(href=key alt=name)=name
                            .promotion
                                a.promotion__link(href="#" title="Распродажа")
                                    .promotion__info
                                        h1.promotion__title
                                            | Расспродажа
                                            br
                                            | замков от ремней
                                        p.promotion__desc
                                            | Предложение для
                                            br
                                            | постоянных клиентов
                                    .promotion__image-wrapper
                                        img(src="/assets/img/photos/promotion.png" alt="promotion" style="width:100%")

                li.nav__item
                    a.nav__link(href="#" alt="О нас") О нас
                li.nav__item
                    a.nav__link(href="#" alt="Условия сотрудничества") Условия сотрудничества
                li.nav__item
                    a.nav__link(href="#" alt="Доставка") Доставка
                li.nav__item
                    a.nav__link(href="#" alt="Каталог") Контакты