header.header
		.container(style="position:relative")
				.header__first-line.header__first-line--logged
						.header__btn-group

								div.header__btn-group--login-block
										a.order-number(href="order.html") 
											p.order-number__number 14
											p.order-number__price 1400 ₽
										a.auth-link(href="#")
												.auth-link__image-wrapper
														img.auth-link__image(src="/assets/img/icons/person.svg")
												span Лазарев И.В.
										a.logout-btn(href="#")
											span Выйти

								a#toggle.nav__btn-toggle
										span.top
										span.middle
										span.bottom

				.logotype-block
						a.logotype-block__wrapper(href="main-page.html" title="Stailer group")
								img.logotype-block__image(src="/assets/img/logotype/logotype.svg")
						h1.header__tagline
								span Оптовые поставки ремней и браслетов для часов
								span.header__tagline.header__tagline--dark-grey с 1996 года

				nav.nav
						ul.nav__list
								li.nav__item
										a.nav__link.nav__link--after(href="#" alt="Каталог") Каталог
										.sub-menu
												.sub-menu__inner
														.input-group.d-lg-none
																label.input-group__label(for="search-item") Поиск по каталогу
																input#search-item.input-group__input-catalog(type="text")
														ul.sub-menu__list
																each name,key in {"catalog.html":"Кожаные ремни","about.html":"Стальные браслеты","delivery.html":"Ремни нейлоновые","terms.html":"Батарейки","contacts.html":"Каучук","cata.html":"Инструменты","abo.html":"Механизмы","deli.html":"Клипсы","term.html":"Пластик","contact.html":"Шпильки","del.html":"Стекла для часов","ter.html":"Торговое оборудование","cont.html":"Аксессуары"}
																		li.sub-menu__item
																				a.sub-menu__link(href=key alt=name)=name
														.promotion
																a.promotion__link(href="#" title="Распродажа")
																		.promotion__info
																				h1.promotion__title
																						| Расспродажа
																						br
																						| замков от ремней
																				p.promotion__desc
																						| Предложение для
																						br
																						| постоянных клиентов
																		.promotion__image-wrapper
																				img(src="/assets/img/photos/promotion.png" alt="promotion" style="width:100%")

								li.nav__item
										a.nav__link(href="#" alt="О нас") О нас
								li.nav__item
										a.nav__link(href="#" alt="Условия сотрудничества") Условия сотрудничества
								li.nav__item
										a.nav__link(href="#" alt="Доставка") Доставка
								li.nav__item
										a.nav__link(href="#" alt="Каталог") Контакты