
.modal.modal-news(data-target-modal="news")
    .modal__window
        .modal__close.modal__btn-close
        .modal__header(style="background-image:url(\"/assets/img/photos/modal.png\")")
        .modal__body
            .modal__title Заголовок новости или рекламного сообщения
            .modal__content
                p.modal__content--paragraph.
                         В наличии постоянно представлено более 5000 различных ремней для часов разных размеров,
                         длины, фактуры, цветов.  Мы постоянно работаем над совершенствованием и расширением нашего
                          модельного ряда и качеством предоставляемых нами услуг.
                p.modal__content--paragraph.
                         Многолетний положительный опыт сотрудничества с сотнями клиентов из различных регионов России,
                         а также стран СНГ позволяет нам предоставлять гибкую систему скидок, а также обеспечивать
                         оперативный сбор и отправку даже самых сложных заказов.

.modal.modal-login
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title Вход в личный кабинет
        .modal__body
            form#authorization.form(method="POST" action="#")
                .form__group
                    label.form__label
                        span Email / Телефон
                        input.form__input(type="text" placeholder="Введите ваш email или телефон" name="login")
                .form__group
                    label.form__label
                        span Пароль
                        input.form__input(type="password" name= placeholder="Введите пароль")
                .form__group
                    input.button.button--black(type="submit" value="Войти")
        .modal__footer
            button.btn-link.js-forget-pass(type="button") Восстановить пароль

.modal.modal-register-warning
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title Регистрация в личном кабинете
        .modal__body
            p.modal__info Тектовая информация о том, что зарегистрироваться может только владелец бизнеса.
            button.button.button--black.js-reg-open(type="button") Перейти к регистрации

.modal.modal-register
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title.modal__title--f30 Регистрация в личном кабинете
            .modal__desc.
                Вводная информация по регистрации, процедуре, сроках,
                условиях сотрудничества.
        .modal__body
            form#registration.form(method="POST" action="#")
                .form__group
                    .modal__title Информация о компании
                .form__group
                    label.form__label
                        span Юридическое лицо
                        input.form__input(type="text" placeholder="Полное название вашего юридического лица" name="entity")
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            label.form__label
                                span Тип бизнеса
                                select.form__input(name="business")
                                    option(value="" disabled selected) Выберите ваш тип бизнеса
                                    option(value="1") Малый
                                    option(value="2") Средний
                                    option(value="3") Крупный
                        .col-sm-12.col-md-6
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            label.form__label
                                span Страна
                                select.form__input(name="country")
                                    option(value="" disabled selected) Выберите страну
                                    option(value="Россия") Россия
                                    option(value="Италия") Италия
                                    option(value="Франция") Франция
                        .col-sm-12.col-md-6
                            label.form__label
                                span Город
                                select.form__input(name="city")
                                    option(value="" disabled selected) Выберите город
                                    option(value="Москва") Москва
                                    option(value="Санкт-Петербург") Санкт-Петербург
                                    option(value="Ярославль") Ярославль
                .form__group.form__label
                    div(style="margin-bottom:1rem") Являетесь ли вы нашим клиентом
                    .form__label.form__group--row
                        label.form__label.form__label--radio
                            input(type="radio" name="customer" value="true" style="margin-right:1rem")
                            span да, я ваш клиент
                        label.form__label.form__label--radio
                            input(type="radio" name="customer" value="true" style="margin-right:1rem" checked)
                            span нет
                .form__group.form__label
                    div(style="margin-bottom:1rem") Занимаетесь ли уже другими ремнями
                    .form__label.form__group--row
                        label.form__label.form__label--radio
                            input(type="radio" name="isSeller" value="true" style="margin-right:1rem")
                            span да
                        label.form__label.form__label--radio
                            input(type="radio" name="isSeller" value="true" style="margin-right:1rem" checked)
                            span нет
                .form__group(style="margin-bottom: 3.8rem")
                    label.form__label
                        span Комментарий
                        textarea.form__input(placeholder="Напишите ваш комментарний к регистрации " name="comment" rows="3")
                .modal__title Контактная информация клиента
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span ФИО
                                    input.form__input(type="text" placeholder="Введите полное имя" name="user-name")
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span Должность
                                    input.form__input(type="text" placeholder="Введите должность" name="position")
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span Email
                                    input#regEmail.form__input(type="text" placeholder="Введите email" name="email")
                                    small.form__help.form__help--12 На указанный адрес, вам придет доступ к личному кабинету
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span Телефон
                                    input.form__input(type="phone" placeholder="+7(xxx)xxx-xx-xx" name="phone")
                .form__group
                    label.form__label.form__label.form__label--checkbox(for="agree_news")
                        span(style="padding: 0.2rem 0 0 3rem") Подписаться на новостную рассылку
                    input#agree_news.form__input.form__input--checkbox(type="checkbox" name="agree_news")
                .form__group
                    label.form__label.form__label.form__label--checkbox(for="agree_terms_checkbox")
                        span(style="padding: 0.2rem 0 0 3rem") Я даю согласие на обработку моих персональных данных
                    input#agree_terms_checkbox.form__input.form__input--checkbox(type="checkbox" name="agree_terms_val")

                .form__group.form__group--row-between
                    input#regBtn.button.button--black(type="submit" value="Зарегистрироваться" data-wait-register="Подождите...")
                    button.btn-link.form__reset-btn(type="reset")
                        span Очистить поля
                .form__group
                    p.form__label.form__group--row Нажимая на кнопку, вы принимаете условия &nbsp;
                        a(href="#" title="Условия оферты" style="text-decoration:underline") Публичной оферты

.modal.modal-forget-password
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title Забыли пароль?
        .modal__body
            form#forgerPass.form(method="POST" action="#")
                .form__group
                    label.form__label
                        span Email
                        input.form__input(type="email" placeholder="Введите ваш email" name="email")
                        small.form__help
                            | На данный адрес мы отправим
                            br
                            | новый пароль
                .form__group
                    input.button.button--black(type="submit" value="Отправить новый пароль")

.modal.modal-status
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title(style="text-align:center")
        .modal__body
            p.modal__info(style="text-align:center")

.modal.modal-status-order-complete
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title(style="text-align:center") Ваш заказ №12 отправлен на исполнение
        .modal__body
            p.modal__info(style="text-align:center; padding: 0 3rem; max-width: 320px") В ближайшее время мы приступим к сборке вашего заказа
        .modal__footer
            p.modal__info.modal__info--grey(style="text-align:center; padding: 2rem 0; max-width: 320px") Всю информацию по Вашему заказу мы так же направили вам на электроную почту


.modal.modal-status-order-start
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title(style="text-align:center") Ваш заказ №12 отправлен на проверку и утверждение
        .modal__body
            p.modal__info
                .modal__link-block
                    a.modal__link(href="#" title="Каталог") Перейти в каталог
                    a.modal__link(href="#" title="Личный кабинет") Вернутся в личный кабинет

.modal.modal-edit-employee.js-employee-form
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title.modal__title--f43 Редактирование сотрудника
        .modal__body
            form#edit-employee.form(method="POST" action="#")
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span ФИО сотрудника
                                    input.form__input(type="text" placeholder="Введите полное имя" name="user-name" value="Константиновский А.А")
                        .col-sm-12.col-md-6
                            label.form__label
                                span Название подразделения
                                select.form__input(name="department")
                                    option(value="" disabled) Название подразделения
                                    option(value="Администрация") Администрация
                                    option(value="Администрация" selected) Логистика
                                    option(value="Администрация") Доставка

                .modal__title Контактная информация
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span Телефон
                                    input.form__input(type="phone" placeholder="+7(xxx)xxx-xx-xx" name="phone" value="+7(905)647-20-11")
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span Email
                                    input.form__input(type="text" placeholder="Введите email" name="email" value="mail@mail.ru")
                .modal__title Права доступа
                .form__group.form__group--row.form__group--border-bottom
                    label.form__label.form__label--row-lg
                        span Показывать цену:
                        input.form__input.form__input--checkbox(type="checkbox" name="price" checked)
                        .form__checkbox-helper
                            .js-thumb
                            span Нет
                            span Да
                    label.form__label.form__label--row-lg
                        span Отправлять заказ:
                        input.form__input.form__input--checkbox(type="checkbox" name="price")
                        .form__checkbox-helper
                            .js-thumb
                            span Нет
                            span Да

                .form__group.form__group--row-between
                    .form__btn-group
                        input#edil-btn.button.button--black(type="submit" value="Сохранить изменения" data-wait="Подождите...")
                        input.btn-link.modal__close(type="button" value="Выйти без сохранения")
                    button#delete-employee.btn-link.form__reset-btn(type="button")
                        span Удалить сотрудника

.modal.modal-new-employee.js-employee-form
    .modal__window
        .modal__close.modal__close-btn
        .modal__header
            .modal__title.modal__title--f43 Новый сотрудник
        .modal__body
            form#new-employee.form(method="POST" action="#")
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span ФИО сотрудника
                                    input.form__input(type="text" placeholder="Введите полное имя" name="user-name")
                        .col-sm-12.col-md-6
                            label.form__label
                                span Название подразделения
                                select.form__input(name="department")
                                    option(value="" disabled selected) Название подразделения
                                    option(value="Администрация") Администрация
                                    option(value="Администрация") Логистика
                                    option(value="Администрация") Доставка

                .modal__title Контактная информация
                .form__group
                    .row
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span Телефон
                                    input.form__input(type="phone" placeholder="+7(xxx)xxx-xx-xx" name="phone")
                        .col-sm-12.col-md-6
                            .form__group
                                label.form__label
                                    span Email
                                    input.form__input(type="text" placeholder="Введите email" name="email")
                .modal__title Права доступа
                .form__group.form__group--row.form__group--border-bottom
                    label.form__label.form__label--row-lg
                        span Показывать цену:
                        input.form__input.form__input--checkbox(type="checkbox" name="price")
                        .form__checkbox-helper
                            .js-thumb
                            span Нет
                            span Да
                    label.form__label.form__label--row-lg
                        span Отправлять заказ:
                        input.form__input.form__input--checkbox(type="checkbox" name="price" checked)
                        .form__checkbox-helper
                            .js-thumb
                            span Нет
                            span Да

                .form__group.form__group--row-between
                    .form__btn-group
                        input#edit-btn.button.button--black(type="submit" value="Сохранить изменения" data-wait="Подождите...")
                        input.btn-link.modal__close(type="button" value="Выйти без сохранения")
                    button.btn-link.form__reset-btn(type="reset")
                        span Очистить поля

