//mixin item(title, descr)
//  .item
//    h2.item-title= title
//    p.item-descr= descr

mixin include-delete-order-popup
	.modal.modal--delete.modal--delete-order
		.modal__window
			.modal__body
				.delete-order
					p.delete-order__header Заказ
					p.delete-order__number № 12
				.modal__title.modal__title--f30 Подтвердите удаление заказа
				.modal__content
					.modal__btns-line
						button.button.button--black Подтвердить
						a.modal__link.modal__link--close-popup Отменить
					p.modal__counter
						| Окно закроется автоматически через 
						span.seconds 15
						| секунд

mixin include-empty-cart-popup()
	.modal.modal--delete.modal--empty-cart
		.modal__window
			.modal__body
				.delete-order
					p.delete-order__header Корзина
				.modal__title.modal__title--f30 Подтвердите очистку корзины
				.modal__content
					.modal__btns-line
						a.button.button--black(href="#") Подтвердить
						a.modal__link.modal__link--close-popup Отменить
					p.modal__counter
						| Окно закроется автоматически через 
						span.seconds 15
						| секунд
						
mixin include-delete-emp-popup
	.modal.modal--delete
		.modal__window
			.modal__body
				p.modal__title.modal__title--grey Сотрудник
				p.modal__title.modal__title--name Фамилия Имя
				p.modal__title.modal__title--branch Название подразделения
				.modal__title.modal__title--f30 Подтвердите удаление сотрудника
				.modal__content
					.modal__btns-line
						button.button.button--black Подтвердить
						a.modal__link.modal__link--close-popup Отмена
					p.modal__counter
						| Окно закроется автоматически через 
						span.seconds 15
						| секунд


mixin include-cookie-warning()
	noindex
		.cow
			.cow__container.container
				p.cow__text
					| Этот сайт использует куки-файлы и другие технологии, чтобы помочь вам в навигации, а также предоставить лучший пользовательский опыт, анализировать использование наших продуктов и услуг, повысить качество рекламных и маркетинговых компаний. 
					a.cow__link(href='#' rel='nofollow') Подробнее
				button.cow__close.button Понятно