extends ../layout/main

block variables
    - var title = '404';
    - var description = '';
    - var pageClass = 'body';

block content
  .container
    .no-page
      img.no-page__img(src="/assets/img/404.svg", alt="")
      p.no-page__title Страница недоступна :-(

    