extends ../layout/main

block variables
    - var title = 'О компании';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block content
    .container
        nav.breadcrumbs.breadcrumbs--pos
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") О компании
            a.breadcrumbs__back(href="#" title="Назад")
        h1.page-title О компании
        .row
            .col-sm-12.offset-lg-1.col-lg-10
                .content-pos.content-pos--mb-min
                    p.page-text.
                        Группа компаний Stailer Group с 2001 года специализируется на
                        оптовых поставках кожаных ремней, стальных браслетов и других различных
                         аксессуаров для наручных часов.
        .page-image.page-image--mb
            .page-image__wrapper
                img.page-image__img(src="/assets/img/photos/company.png" alt="Page image")
        .row.row--mb-small
            .col-sm-12.offset-lg-1.col-lg-10
                p.page-text.content-pos--mb-min.
                    В наличии постоянно представлено более 5000 различных ремней для
                     часов разных размеров, длины, фактуры, цветов.
            .col-sm-12.offset-lg-1.col-lg-10
                p.page-text.content-pos--mb-min.
                    Мы постоянно работаем над совершенствованием и расширением
                    нашего модельного ряда и качеством предоставляемых нами услуг.

            .col-sm-12.offset-lg-1.col-lg-10
                p.page-text.
                    Многолетний положительный опыт сотрудничества с сотнями клиентов
                     из различных регионов России, а также стран СНГ позволяет нам
                      предоставлять гибкую систему скидок, а также обеспечивать
                      оперативный сбор и отправку даже самых сложных заказов.




        h3.title-block.title-block--mb.title-block--bold На российском рынке мы представляем такие бренды:
        h3.title-block.title-block--mb Кожанные ремни
        .row.row--mb-small
            .col-sm-12.offset-lg-1.col-lg-10
                .partners
                    ul.partners__list
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/dl.svg")
                                //- .partner__name Деловые линий
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/bs.svg")
                                //- .partner__name Байкал сервис
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/pek.svg")
                                //- .partner__name ПЭК
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/energy.svg")
                                //- .partner__name Энергия
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/dl.svg")
                                //- .partner__name Деловые линий
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/bs.svg")
                                //- .partner__name Байкал сервис
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/pek.svg")
                                //- .partner__name ПЭК
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/energy.svg")
                                //- .partner__name Энергия
        h3.title-block.title-block--mb Стальные ремни
        .row.row--mb-small
            .col-sm-12.offset-lg-1.col-lg-10
                .partners
                    ul.partners__list
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/inox.svg")
                                //- .partner__name Inox Plus
        h3.title-block.title-block--mb Инструменты
        .row.row--mb-small
            .col-sm-12.offset-lg-1.col-lg-10
                .partners
                    ul.partners__list
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/beco.svg")
                                //- .partner__name BECO Technik
        h3.title-block.title-block--mb Часовые батарейки
        .row.row--mb-small
            .col-sm-12.offset-lg-1.col-lg-10
                .partners
                    ul.partners__list
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/varta.svg")
                                //- .partner__name Varta
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/renata.svg")
                                //- .partner__name Renata batteries
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/energazer.svg")
                                //- .partner__name Energazer
        .additionally.additionally--mb
            .additionally__title Остались вопросы?
            .additionally__info
                a.additionally__mail.mr-0.mr-md-5(href="mailto:mail@mai.com" title="mail") mail@mai.com
                a.additionally__tel(href="tel:+74952800798" title="mail") +7495-280-07-98
