extends ../layout/main-logged

block variables
    - var title = 'Задать пароль';
    - var description = '';
    - var pageClass = 'body';

block content
    .container
        nav.breadcrumbs.breadcrumbs--pos
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Авторизация
            a.breadcrumbs__back(href="#" title="Назад")
        h1.page-title.page-title--mb Задание пароля
        form.c-form.c-form--mgb(method="post", action="/assets/data/message-success.json", novalidate)
          .c-form__section
            .c-form__address-line
              .input-line
                p.input-line__label Логин
                input.input-line__input(type="text", name="login", required,
                  data-value-missing="Пожалуйста, заполните поле")
                p.c-form__inline-error.hidden(aria-live="polite")
            .c-form__address-line
              .input-line
                p.input-line__label Новый пароль
                input.input-line__input.new-pass-input(type="password", name="pass-new", required,
                  data-value-missing="Пожалуйста, заполните поле")
                p.c-form__inline-error.hidden(aria-live="polite")
              .input-line
                p.input-line__label Повторите ввод пароля
                input.input-line__input.new-pass-input(type="password", name="pass-new-copy", required,
                  data-value-missing="Пожалуйста, заполните поле",
                  data-value-invalid="Новые пароли различаются")
                p.c-form__inline-error.hidden(aria-live="polite")
          button.c-form__submit.button.button--black.success-hide(data-wait="Минуту...") Изменить пароль