extends ../layout/sidebar-layout

block variables
    - var title = 'Каталог подраздела товаров';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block btn-back
    a.btn-prev.btn-prev--pos(href="#" title="Назад") Вся коллекция

block content
    h1.page-title.page-title--black.page-title--mb Stailer Original
    .page-image
        .page-image__bg(style="background-image: url('/assets/img/photos/page-img.png')")
    .filters
        .filters__inner.js-box-filter
            div.filters__group
                button.filters__choice.filters__btn(data-filter="filter") Фильтры
                button.filters__search.filters__btn.filters__btn--visibility(data-filter="search") Поиск
            button.filters__menu.filters__btn.filters__btn--visibility-sm
        .filters__sets
            .additional-filters.additional-filters--row(data-target="filter")
                form#search-form.filters__characters(method="POST" action="#")
                    .filters__characters--single
                        .additional-filters__title Цвет
                        ul.additional-filters__color-block
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="white" name="color" checked)
                                    .additional-filters__color-btn.additional-filters__color-btn--white
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="black" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--black
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="blue" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--blue
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="brown" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--brown
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="red" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--red
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="silver" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--silver
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="pink" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--pink
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="checkbox" value="choice" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--choice
                    .filters__characters--single
                        .additional-filters__title Размер
                        ul.additional-filters__size-block
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="size" value="M" checked)
                                    span.additional-filters__size-btn 24/22 M
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="size" value="XS")
                                    span.additional-filters__size-btn 20/18 XS
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="size" value="XXS")
                                    span.additional-filters__size-btn 20/18 XSS
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="size" value="XXL")
                                    span.additional-filters__size-btn 20/18 XXL
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="size" value="S")
                                    span.additional-filters__size-btn 22/20 S
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="size" value="L")
                                    span.additional-filters__size-btn 18/16 L
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="size" value="XL")
                                    span.additional-filters__size-btn 18/16 XL
                    div
                        .additional-filters__title Длина
                        ul.additional-filters__size-block
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="length" value="M" checked)
                                    span.additional-filters__size-btn 24 см
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="length" value="XS")
                                    span.additional-filters__size-btn 22 см
                            li.additional-filters__size-item
                                label
                                    input(type="checkbox" name="length" value="XXS")
                                    span.additional-filters__size-btn 20 см
            .additional-filters.additional-filters--row(data-target="search")
                form.search-form.search-form--pos(method="POST" action="#" style="width:100%")
                    .search-form__wrapper
                        input.search-form__input.search-form__input--white(type="text" placeholder="Поиск по каталогу")
                        button.search-form__submit(type="submit")
    p.no-result Нет результатов, попробуйте изменить параметры.
    .row
        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original
        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

        .col-sm-12.col-md-6.col-xl-4.sep
            a.card.card--pos(href="#" title="item")
                .card__first-line
                    .card__price-block
                        span РЦЦ: &nbsp;
                        span.card__price 7501
                        span &#8381;
                    .card__category
                .card__img-wrap
                    img.card__image(src="/assets/img/photos/strap.png" title="image")
                .card__desc
                    .card__model 5994 series ORG
                    .card__brand Original

    .more.more--mb
        btn.more__btn
            span.more__btn--content Загрузить ещё

block post-content
    .page-image.page-image--mb.page-image--picture





