extends ../layout/sidebar-layout

block variables
    - var title = 'Каталог раздела товаров';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block btn-back
    a.btn-prev.btn-prev--pos(href="#" title="Назад") Вся коллекция

block content
    h1.page-title.mb-md-5 Кожаные ремни
    .row(style="margin-bottom: 6rem")
        .col-sm-12.col-md-6
            a.tidings.tidings--mb(href="#" title="new")
                .tidings__img-wrapper
                    img.tidings__image(src="/assets/img/photos/remen2.png")
                .tidings__text
                    .tidings__text-inner
                        .tidings__category
                        .tidings__desc-block
                            p.tidings__collection Коллекция
                            h2.tidings__title Stailer Original
                            p.tidings__text-content В коллекции представлено более 850 моделей классических ремней на каждый день.
        .col-sm-12.col-md-6
            a.tidings.tidings--mb(href="#" title="new")
                .tidings__img-wrapper
                    //- img.tidings__image(src="/assets/img/photos/remen3.png")
                .tidings__text
                    .tidings__text-inner
                        .tidings__category
                        .tidings__desc-block
                            p.tidings__collection Коллекция
                            h2.tidings__title Stailer Premium
                            p.tidings__text-content В коллекции представлено более 850 моделей классических ремней на каждый день.
        .col-sm-12.col-md-6
            a.tidings.tidings--mb(href="#" title="new")
                .tidings__img-wrapper
                    img.tidings__image(src="/assets/img/photos/remen4.png")
                .tidings__text
                    .tidings__text-inner
                        .tidings__category
                        .tidings__desc-block
                            p.tidings__collection Коллекция
                            h2.tidings__title ARMO
                            p.tidings__text-content В коллекции представлено более 850 моделей классических ремней на каждый день.
        .col-sm-12.col-md-6
            a.tidings.tidings--mb(href="#" title="new")
                .tidings__img-wrapper
                    img.tidings__image(src="/assets/img/photos/remen5.png")
                .tidings__text
                    .tidings__text-inner
                        .tidings__category
                        .tidings__desc-block
                            p.tidings__collection Коллекция
                            h2.tidings__title B&M
                            p.tidings__text-content В коллекции представлено более 850 моделей классических ремней на каждый день.
        .col-sm-12.col-md-6.col-lg-10.offset-lg-2
            a.tidings.tidings--horizontal.tidings--mb(href="#" title="new")
                .tidings__img-wrapper
                    img.tidings__image(src="/assets/img/photos/rem-6.png")
                .tidings__text
                    .tidings__text-inner
                        .tidings__category
                        .tidings__desc-block
                            p.tidings__collection Коллекция
                            h2.tidings__title B&M
                            p.tidings__text-content В коллекции представлено более 850 моделей классических ремней на каждый день.
        .col-sm-12.col-md-6.col-lg-12
            a.tidings.tidings--horizontal.tidings--mb(href="#" title="new")
                .tidings__img-wrapper
                    img.tidings__image(src="/assets/img/photos/rem-4.png")
                .tidings__text
                    .tidings__text-inner
                        .tidings__category
                        .tidings__desc-block
                            p.tidings__collection Коллекция
                            h2.tidings__title B&M
                            p.tidings__text-content В коллекции представлено более 850 моделей классических ремней на каждый день.

