extends ../layout/lk-layout

block variables
	- var title = 'Оформление заказа';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Оформление заказа
		table.pretty-table.pretty-table--checkout
			thead
				th 
				th Название подразделения
				th Сотрудник
				th Вес посылки
				th Стоимость
				th Комментарий
				th
			tbody
				- for (var i=0; i<3; i++)
					tr
						td.number
							p.number__number Заказ №12
							p.number__name Наименование заказа
						td.branch Название подразделения
						td.employee Лавреньтьев И. В.
						td.weight 1267 грам
						td.price 602 400 &#8381;
						td.comment
							.comment-popup
								button.icon-btn.icon-btn--comment(data-id="563833")
									<svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.24609 18H1.79753L2.82181 16.9757C3.37409 16.4234 3.71897 15.7051 3.81169 14.9259C1.44661 13.3738 0.269531 11.1253 0.269531 8.76812C0.269531 4.41936 4.26645 0 10.5261 0C17.1575 0 20.7134 4.06664 20.7134 8.38712C20.7134 12.7361 17.1199 16.8 10.5261 16.8C9.37101 16.8 8.16569 16.6458 7.08957 16.3629C6.07089 17.4077 4.69065 18 3.24609 18Z" fill="black"/>
									</svg>
								.comment-popup__popup
									p Текст комментария о заказе оставленный его создателем. Текст комментария о заказе оставленный его создателем.
						td.btns
							button.icon-btn.icon-btn--delete(data-order, data-id="563833")
								<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
									<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
								</svg>
		.checkout-total
			p.checkout-total__title Итого:
			p.checkout-total__weight 2.5кг
			p.checkout-total__value 70 010 &#8381;
		form.c-form(method="post", action="/assets/data/message-success.json", novalidate)
			.c-form__section
				p.form-title Адрес доставки
				.c-form__address-line
					.input-line
						p.input-line__label Страна
						input.input-line__input(type="text", name="country", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Пожалуйста введите корректное значение")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Город
						input.input-line__input(type="text", name="city", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Улица
						input.input-line__input(type="text", name="street", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Индекс
						input.input-line__input(type="text", name="zipcode", required,
							pattern="[0-9]{6}",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Индекс должен содержать только 6 цифр")
						p.c-form__inline-error.hidden(aria-live="polite")
					.c-form__three
						.input-line
							p.input-line__label Дом
							input.input-line__input(type="text", name="house", required,
							data-value-missing="Пожалуйста, заполните поле")
							p.c-form__inline-error.hidden(aria-live="polite")
						.input-line
							p.input-line__label Корпус
							input.input-line__input(type="text", name="build")
						.input-line
							p.input-line__label Офис
							input.input-line__input(type="text", name="office")
			.c-form__section
				p.form-title Контакты получателя
				.c-form__contacts-line
					.input-line
						p.input-line__label ФИО
						input.input-line__input(type="text", name="fio", required,
						data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Телефон
						input.input-line__input.input-line__input--tel(type="tel", name="phone", required,
							minlength="16",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Формат: +7 (___) ___-__-__")
						p.c-form__inline-error.hidden(aria-live="polite")
			.c-form__section
				p.form-title Способ доставки
				.select-list
					.select
						select(name="delivery-type")
							option(value="1") Москва, курьер
							option(value="2") Major, курьер
							option(value="3") СДЕК
							option(value="4") Деловые линии
					.radio-list
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="1", checked)
							p.radio-list__label Москва, курьер
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="2")
							p.radio-list__label Major, курьер
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="3")
							p.radio-list__label СДЕК
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-delivery-type", value="4")
							p.radio-list__label Деловые линии
				input.input-line__input(type="text", name="other-delivery", placeholder="Другая компания")
				p.c-form__descr Напишите название транспортной компании, услугами которой хотите воспользоваться
			.c-form__section
				p.form-title Способ оплаты
				.select-list
					.select
						select(name="pay-type")
							option(value="1") Безналичный расчёт
							option(value="2") Картой онлайн
							option(value="3") Оплата курьеру, наличный расчёт
					.radio-list
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-pay-type", value="1", checked)
							p.radio-list__label Безналичный расчёт
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-pay-type", value="2")
							p.radio-list__label Картой онлайн
						label.radio-list__item
							input.radio-list__input(type="radio", name="rb-pay-type", value="3")
							p.radio-list__label Оплата курьеру, наличный расчёт
				p.c-form__descr Инфомационное сообщение по данному способу оплаты
			.cart-footer
				.cart-footer__msg-wrp
					p.cart-footer__msg-header Комментарий к доставке и оплате
					textarea.cart-footer__msg(placeholder="Ваш комментарий")
				.cart-footer__footer
					button.c-form__submit.button.button--black.success-hide(data-wait="Минуту...") Отправить заказ
			p.c-form__descr.success-hide После отправки заказа, дальнейшее изменение заказа через сайт - не доступно. Просьюба связаться с менеджером
	+include-delete-order-popup()