extends ../layout/main-logged

block variables
    - var title = 'Контакты';
    - var description = '';
    - var pageClass = 'body';

block content
    .container
        nav.breadcrumbs.breadcrumbs--pos
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Условия сотрудничества
            a.breadcrumbs__back(href="#" title="Назад")
        h1.page-title.page-title--mb Контактная информация
        .row
            .col-sm-12.offset-xl-1.col-lg-10
                .contacts.contacts--mb
                    .contacts__info.contacts__info--before Метро Спортивная
                    .contacts__info
                        .contacts__item 
                            b Адрес: 
                            p 119435, Москва, ул. Малая Пироговская д. 18 офис 509
                        p.contacts__item 
                            b Тел: &nbsp;
                            a.contacts__link(href="tel:+74952800798" title="phone") 8(495)280-07-98
                        p.contacts__item 
                            b Моб./WhatsApp: &nbsp;
                            a.contacts__link(href="tel:+79636199290" title="phone") 8(963) 619-92-90
                        p.contacts__item 
                            b Skype:
                            a.contacts__link(href="" title="phone")
                        p.contacts__item 
                            b Email: &nbsp;
                            a.contacts__link(href="mailto:sale@stailer-group.ru" title="email") sale@stailer-group.ru
                    .contacts__info.contacts__info--map
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6101009a1d0db933cca7571b8e0fcd1311cd746934f42bdcde4367a381d3744a&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            .col-sm-11.col-xl-10.offset-xl-1
                .line
            .col-sm-12.col-xl-8.offset-xl-1
                .contacts.contacts--mb.contacts--before
                    .contacts__info.contacts__info--lh.contacts__info--mb Если у вас возникли сложности во взаимодействии с нашими сотрудниками, вы можете написать ваши предложения напрямую руководству компании – &nbsp;
                        br
                        a.contacts__link(href="mailto:alert@stailer-group.ru " title="Техподдержка") alert@stailer-group.ru

