extends ../layout/main

block variables
    - var title = 'Условия сотрудничества';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block content
    .container
        nav.breadcrumbs.breadcrumbs--pos
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Условия сотрудничества
            a.breadcrumbs__back(href="#" title="Назад")
        h1.page-title.page-title--mb Условия сотрудничества
        .page-image.page-image--mb
            .page-image__wrapper
                img.page-image__img(src="/assets/img/photos/clock.png" alt="Page image")
        .row
            .col-md-12.col-lg-6.order-2.order-lg-1
                .row
                    .col-md-12.col-xl-8.offset-xl-1.order-2.order-lx-1
                        .page-image.page-image--mb
                            .page-image__wrapper
                                img.page-image__img(src="/assets/img/photos/remeshki.png" alt="Page image")
                        .page-text.page-text--grey.
                            Наша компания не занимается розничными продажами физическим лицам.
                            Товары, представленные на сайте не являются публичной офертой, цена
                            указанная на сайте является справочной.
                        br
                        .content-pos.content-pos--mb-min
                            .page-text.page-text--grey По вопросам розничной покупки наших товаров вы можете обратиться к нашим официальным партнерам –
                                a(href="#" title="partner") remeshop.ru

                            div.comp
                                a.comp__link(href="#" title="Our partner")
                                    .comp__img-wrapper
                                        img.comp__image(src="/assets/img/logotype/remeshok.svg")

                    .col-sm-12.col-xl-8.offset-xl-1.order-1.order-xl-2
                        p.page-text
                                   |Если вы хотите стать нашим дилером и получить доступ к текущим остаткам и оптовым
                                   |ценам на товары, вам необходимо заключить договор о сотрудничестве с нашей компанией.
                        .line
                        p.page-text.page-text--mb
                            | Пожалуйста, свяжитесь с нами по адресу &nbsp;
                            a.contact.contact--bold(href="mailto:info@stailer-group.ru" alt="info@stailer-group.ru" title="info@stailer-group.ru") info@stailer-group.ru
                            |&nbsp; или заполните
                            |анкету на сайте, мы свяжемся с вами в кратчайшие сроки

            .col-md-12.col-lg-6.order-1.order-lg-2
                .form-block.form-block--pos
                    h2.form-block__title.js-form-toggler Анкета партнёра
                    form#partners-form-blank.form-block__form(method="POST" action="#")
                        .form-block__inner
                            .form-block__group
                                label.form-block__label
                                    span Город
                                    input.form-block__input(type="text" placeholder="Введите ваш город" name="city")
                            .form-block__group
                                label.form-block__label
                                    span Название компании
                                    input.form-block__input(type="text" placeholder="Название вашей компании" name="company")
                            .form-block__group
                                label.form-block__label
                                    span Юридическое лицо
                                    input.form-block__input(type="text" placeholder="Полное название вашего юридического лица" name="official_name")
                            .form-block__group
                                label.form-block__label
                                    span Контактное лицо
                                    input.form-block__input(type="text" placeholder="ФИО контактного лица" name="contact_name")
                            .form-block__group-50
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Телефон
                                        input#phone-mask.form-block__input(type="text" placeholder="+7 (" name="phone")
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Email
                                        input.form-block__input(type="text" placeholder="Ваш email" name="email")
                            .form-block__group
                                label.form-block__label
                                    span Сайт
                                    input#site-mask.form-block__input(type="text" placeholder="www." name="site")
                            .form-block__group-50
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Вид деятельности
                                        input.form-block__input(type="text" placeholder="Выберите деятельность" name="activity")
                                .form-block__group.form-block__group--half
                                    label.form-block__label
                                        span Количество магазинов
                                        input.form-block__input(type="number" name="shop_count" placeholder="Введите колличество")
                            .form-block__group.js-address
                                label.form-block__label
                                    span Адрес магазина
                                    input.form-block__input(type="text" name="address" placeholder="Введите адрес магазина")
                            button.js-add-address.btn-order.btn-order--pos.btn-order--plus(type="button") Добавить еще адрес
                            .form-block__group
                                label.form-block__label
                                    span Комментарий
                                    textarea.form-block__input(placeholder="Ваш комментарий" rows=1)
                            .form-block__group
                                label.form-block__label.form-block__label--row(for="agree_terms")
                                    span Я даю согласие на обработку моих персональных данных
                                input#agree_terms.form-block__input.form-block__input--hidden(type="checkbox" name="agree_terms")
                            .form-block__group
                                input#submit-partners-blank.button.button--black(type="submit" value="Зарегистрироваться" data-wait="Подождите...")
                            .form-block__group
                                p Нажимая на кнопку, вы принимаете условия &nbsp;
                                    a(href="#" title="Условия оферты" style="text-decoration:underline") Публичной оферты
        .additionally.additionally--mb
            .additionally__title Остались вопросы?
            .additionally__info
                a.additionally__mail.mr-0.mr-md-5(href="mailto:mail@mai.com" title="mail") mail@mai.com
                a.additionally__tel(href="tel:+74952800798" title="mail") +7495-280-07-98