extends ../layout/lk-layout

block variables
	- var title = 'Текущие заказы';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Текущие заказы
		.lk__search-line.search-line
			input.search-line__input(
				placeholder="Поиск по номеру заказа, дате и имени сотрудника",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--orders
				thead
					tr
						th № заказа
						th Дата заказа
						th Сумма по РРЦ
						th Наименование заказа
						th
						th
				tbody
					- for (var i=0; i<10; i++)
						tr
							td.number
								a(href="order.html#563833")='5638'+i
							td.date 26.12.2020 20:00
							td.sum 602 400 &#8381;
							td.name Радужный
							td.btns
								a.icon-btn.icon-btn--edit(href="order.html#563833")
									<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/>
										<path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/>
									</svg>
								button.icon-btn.icon-btn--delete(data-order, data-id="563833")
									<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
										<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
									</svg>
							td.status
								p.status.status--yellow
									img(src="/assets/img/icons/status-yellow.svg", alt="")
									span Принят в работу
			.pretty-table-footer
				p.pretty-table-footer__count 
					| Всего: 
					span.value 34
				.pagination
					p.pagination__header Страница
					ul.pagination__list
						li.pagination__item
							a.pagination__link.pagination__link--less(href="#")
						li.pagination__item
							span.pagination__link.pagination__link--active 1
						li.pagination__item
							a.pagination__link(href="#") 2
						li.pagination__item
							a.pagination__link(href="#") 3
						li.pagination__item
							a.pagination__link(href="#") ...
						li.pagination__item
							a.pagination__link.pagination__link--more(href="#")
		.search-preloader
			p Подождите, идёт загрузка...
	+include-delete-order-popup()
