extends ../layout/main

block variables
    - var title = 'Доставка';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block content
    .container
        nav.breadcrumbs.breadcrumbs--pos
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Доставка
            a.breadcrumbs__back(href="#" title="Назад")
        h1.page-title.page-title--mb Способы доставки
        .page-image.page-image--mb
            .page-image__wrapper
                img.page-image__img(src="/assets/img/photos/delivery.png" alt="Page image")

        h3.title-block.title-block--mb
            span Курьерская доставка по Москве &nbsp;
            span.title-block.title-block--grey 1-2 дня

        .row.row--mb-small
            .col-sm-12.offset-lg-1.col-lg-8
                h1.page-text.page-text--medium Мы осуществляем доставку по Москве силами собственной курьерской службы.
            .col-sm-12.offset-lg-1.col-lg-8
                h3.page-text.page-text--bold Стоимость доставки:
                    p.page-text Заказы на сумму свыше 5000 руб. – бесплатно менее 5000 руб. – 350 руб.
            .col-sm-12.offset-lg-1.col-lg-5
                .line
            .col-sm-12.offset-lg-1.col-lg-8
                p.page-text
                    | Уточнить детали доставки до вашего адреса
                    br
                    a.contact.contact--mr(href="tel:84952800798" title="Позвините нам") +7495-280-07-98
                    a.contact(href="mailto:mail@mai.com" title="Напишите нам") mail@mai.com
            .col-sm-12.offset-lg-1.col-lg-8



        h3.title-block.title-block--mb Курьерские службы

        .row
            .col-sm-12.offset-lg-1.col-lg-10
                p.page-text Для оперативной доставки вашего заказа вы можете воспользоваться услугами следующих компаний:
            .col-sm-12.offset-lg-1.col-lg-10
                .partners.partners--pos
                    ul.partners__list
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/sdek.svg")
                                .partner__name CDEK
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/major.svg")
                                .partner__name Major Express
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/dpd.svg")
                                .partner__name DPD

        h3.title-block.title-block--mb Транспортные компании
        .row.row--mb-small
            .col-sm-12.offset-lg-1.col-lg-10
                p.page-text.page-text--medium Мы осуществляем бесплатную доставку грузов до терминалов компаний:
            .col-sm-12.offset-lg-1.col-lg-10
                .partners
                    ul.partners__list
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/dl.svg")
                                .partner__name Деловые линий
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/bs.svg")
                                .partner__name Байкал сервис
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/pek.svg")
                                .partner__name ПЭК
                        li.partners__item
                            a.partner.partner__link(href="#" title="partner")
                                .partner__clear
                                .partner__image
                                    img(src="/assets/img/logotype/energy.svg")
                                .partner__name Энергия

        .additionally.additionally--mb
            .additionally__title Остались вопросы?
            .additionally__info
                a.additionally__mail.mr-0.mr-md-5(href="mailto:mail@mai.com" title="mail") mail@mai.com
                a.additionally__tel(href="tel:+74952800798" title="mail") +7-495-280-07-98
