extends ../layout/lk-layout

block variables
	- var title = 'Сотрудники';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		.page-title-line
			p.page-title Сотрудники
			button.button.button--black.button--icon(data-new-employee-btn)
				span.button__title
					| Добавить 
					span.hidden-xs сотрудника
		.lk__search-line.search-line
			input.search-line__input(placeholder="Поиск по сотрудникам",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--employees
				thead
					th Сотрудник
					th Подразделение
					th Телефон
					th Email
					th Показывать цену
					th Отправлять заказ
					th
				tbody
					- for (var  i=0; i<10; i++)
						tr
							td.employee Константинопольский В.А
							td.branch Название подразделения
							td.tel +7 (981) 714-57-10
							td.email mail@mail.ru
							td.checks
								label.switch
									input.price.switch__input(type="checkbox", name="switcher1", disabled)
									p.switch__var Нет
									p.switch__var Да
							td.checks
								label.switch
									input.checkout.switch__input(type="checkbox", name="switcher2", disabled)
									p.switch__var Нет
									p.switch__var Да
							td.btns
								button.icon-btn.icon-btn--edit(data-id="563833")
									<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 12.708V16.0527H3.34477L13.2141 6.18339L9.86929 2.83862L0 12.708Z" fill="black"/>
										<path d="M15.7915 2.34356L13.7088 0.260892C13.361 -0.0869641 12.7946 -0.0869641 12.4467 0.260892L10.8145 1.89314L14.1592 5.23791L15.7915 3.60566C16.1394 3.25781 16.1394 2.69141 15.7915 2.34356Z" fill="black"/>
									</svg>
								button.icon-btn.icon-btn--delete(data-employee, data-id="563833")
									<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
										<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
									</svg>
			.pretty-table-footer
				p.pretty-table-footer__count 
					| Всего: 
					span.value 34
				.pagination
					p.pagination__header Страница
					ul.pagination__list
						li.pagination__item
							a.pagination__link.pagination__link--less(href="#")
						li.pagination__item
							span.pagination__link.pagination__link--active 1
						li.pagination__item
							a.pagination__link(href="#") 2
						li.pagination__item
							a.pagination__link(href="#") 3
						li.pagination__item
							a.pagination__link(href="#") ...
						li.pagination__item
							a.pagination__link.pagination__link--more(href="#")
		.search-preloader
			p Подождите, идёт загрузка...
	.modal.modal--employee(data-target-modal="employee")
		.modal__window
			button.modal__close-btn
			.modal__body
				p.modal__title.modal__title--f30.modal__title--new Новый сотрудник
				p.modal__title.modal__title--f30.modal__title--edit(style="display:none;") Редактирование сотрудника
				form.e-form(action="/data/save-employee.json")
					.e-form__line.e-form__line--half
						.e-form__item.input-line
							p.input-line__label ФИО сотрудника
							input.e-form__name.input-line__input(type="text", name="name")
						.e-form__item.input-line
							p.input-line__label Название подразделения
							input.e-form__branch.input-line__input(type="text", name="branch")
					p.modal__title Контактная информация
					.e-form__line.e-form__line--half
						.e-form__item.input-line
							p.input-line__label Телефон
							input.e-form__tel.input-line__input(type="text", name="tel")
						.e-form__item.input-line
							p.input-line__label Email
							input.e-form__email.input-line__input(type="text", name="email")
					p.modal__title Права доступа
					.e-form__line
						.e-form__item.switch-line
							p.switch-line__label Может ли сотрудник видеть оптовую цену со скидкой:
							label.switch-line__switch.switch
								input.e-form__price.switch__input(type="checkbox", name="price")
								p.switch__var Нет
								p.switch__var Да
						.e-form__item.switch-line
							p.switch-line__label Может ли сотрудник отправлять заказ в работу без подтверждения владельца:
							label.switch-line__switch.switch
								input.e-form__checkout.switch__input(type="checkbox", name="checkout")
								p.switch__var Нет
								p.switch__var Да
					.modal__content
						.modal__btns-line
							button.button.button--black Сохранить изменения
							a.modal__link.modal__link--close-popup Выйти без сохранения
	+include-delete-emp-popup()