extends ../layout/lk-layout

block variables
	- var title = 'История заказов';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title История заказов
		.lk__search-line.search-line
			input.search-line__input(placeholder="Поиск по номеру заказа, дате и имени сотрудника",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--history-employee
				thead
					th Номер заказа
					th Дата заказа
					th Сумма
					th Отслеживание
					th
				tbody
					- for (var i=0; i<10; i++)
						tr
							td.number
								a(href="#") 563833
							td.date 26.12.2020 20:00
							td.price 602 400 &#8381;
							td.comment
								button.icon-btn.icon-btn--comment(data-id="563833")
									<svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 0C3.58933 0 0 3.55775 0 7.93187C0 14.147 7.248 20.5642 7.55644 20.8337C7.68356 20.9449 7.84178 21 8 21C8.15822 21 8.31644 20.9449 8.44355 20.8346C8.752 20.5643 16 14.147 16 7.93187C16 3.55775 12.4107 0 8 0ZM8 12.25C5.54933 12.25 3.55556 10.2874 3.55556 7.875C3.55556 5.46263 5.54933 3.5 8 3.5C10.4507 3.5 12.4444 5.46263 12.4444 7.875C12.4444 10.2874 10.4507 12.25 8 12.25Z" fill="black"/>
									</svg>
								.comment-popup
							td.status
								p.status.status--green
									img(src="/assets/img/icons/status-green.svg", alt="")
									span Отгружен
			.pretty-table-footer
				p.pretty-table-footer__count 
					| Всего: 
					span.value 34
				.pagination
					p.pagination__header Страница
					ul.pagination__list
						li.pagination__item
							a.pagination__link.pagination__link--less(href="#")
						li.pagination__item
							span.pagination__link.pagination__link--active 1
						li.pagination__item
							a.pagination__link(href="#") 2
						li.pagination__item
							a.pagination__link(href="#") 3
						li.pagination__item
							a.pagination__link(href="#") ...
						li.pagination__item
							a.pagination__link.pagination__link--more(href="#")
		.search-preloader
			p Подождите, идёт загрузка...
	+include-delete-order-popup()

