extends ../layout/base

block variables
    - var title = 'Выбор страницы';
    - var description = '';
    - var pageClass = 'body';

block content

    .container
        h1(style="font-size: 25px; text-align: center; margin:30px 0 30px 0") Список страниц
        ul
            each name,key in {"main-page.html":"Главная","ui-kit.html":"UI-kit","main-catalog.html":"Каталог","catalog-item.html":"Каталог раздела","catalog.html":"Каталог подраздела","item-card-old.html":"Карточка товара(double slide)","item-card.html":"Карточка товара", "delivery.html": "Способы доставки", "about.html": "О компании", "cooperation.html": "Условия сотрудничества", "contacts.html": "Контакты", "404.html": "404", "authorization.html": "Авторизация"}
                li(style="margin-bottom: 10px")
                    a(href=key style="font-size:18px")=name
            li(style="margin-bottom: 10px")
                a(style="font-size:18px", href="text.html") Текстовая
        h2(style="font-size: 20px; text-align: center; margin:30px 0 30px 0") Личный кабинет
        ul
            li(style="margin-bottom: 10px")
                a(style="font-size:18px", href="current-orders.html") Текущие заказы
            li(style="margin-bottom: 10px")
                a(style="font-size:18px", href="employees.html") Сотрудники
            li(style="margin-bottom:10px")
                a(style="font-size:18px", href="order.html") Заказ
            li(style="margin-bottom:10px")
                a(style="font-size:18px", href="order-priced.html") Заказ с ценой
            li(style="margin-bottom:10px")
                a(style="font-size:18px", href="history.html") История заказов. Владелец.
            li(style="margin-bottom:10px")
                a(style="font-size:18px", href="history-employee.html") История заказов. Сотрудник.
            li(style="margin-bottom:10px")
                a(style="font-size:18px", href="checkout.html") Оформление заказа
            li(style="margin-bottom:10px")
                a(style="font-size:18px", href="settings.html") Настройки аккаунта
            li(style="margin-bottom:10px")
                a(style="font-size:18px", href="password.html") Смена пароля

