extends ../layout/sidebar-layout

block variables
    - var title = 'Карточка товара';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block title-block
    h2.page-title.page-title--h2 Коллекция Stailer Origin

block content
    .row
        .col-md-12.col-lg-7
            h1.page-title.page-title--mb 1642 series PRM
            //Слайдер товара
            .swiper-container.swiper-item.active.swiper-item--mb(data-slider="image1")
                .swiper-wrapper
                    .swiper-slide
                        .item-image
                            img(src="/assets/img/photos/red.png")
                    .swiper-slide
                        .item-image
                            img(src="/assets/img/photos/red.png")
                .swiper-button-prev
                .swiper-button-next
            ul.accordeon
                li.accordeon__item
                    .accordeon__button
                        div.accordeon__button--inner
                            span Спецификация
                    .accordeon__dropdown-section
                        .specific
                            .specific__vendor--color
                                .specific__vendor--size.active
                                    table.item-info
                                        tr.item-info__row
                                            th.item-info__title Артикул:
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Ширина крепления
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Ширина пряжки
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Длина большей части
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Длина меньшей части
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Ширина крепления
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Ширина пряжки
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Длина большей части
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Длина меньшей части
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Ширина крепления
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Ширина пряжки
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Длина большей части
                                            td.item-info__desc Красный XS
                                        tr.item-info__row
                                            th.item-info__title Длина меньшей части
                                            td.item-info__desc Красный XS
                li.accordeon__item
                    .accordeon__button Описание
                    .accordeon__dropdown-section
                        .item-info
                            p.item-info__desc.item-info__desc--left
                                | Lorem ipsum dolor sit amet, consectetur adipisicing
                                | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                | aliquip ex ea commodo consequat.
                            p.item-info__desc.item-info__desc--left
                                | Lorem ipsum dolor sit amet, consectetur adipisicing
                                | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                | aliquip ex ea commodo consequat.

        .col-md-12.col-lg-5
            .specific.specific--mt.specific--pos

                //Артикул товара
                .specific__vendor.specific--mb
                    .specific__vendor--color
                        span.specific__vendor--size.active Артикул: Красный XS
                .specific__price-block
                    span РЦЦ: &nbsp;
                    span.specific__price 7500
                    span &nbsp; &#8381;
                .additional-filters
                    form#order(method="POST" action="#")

                        //Цвета товара
                        ul.additional-filters__color-block
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="radio" value="image1" name="color" checked)
                                    .additional-filters__color-btn.additional-filters__color-btn--image(
                                        data-color="image1"
                                        style="background-image: url('/assets/img/photos/red.png')")
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="radio" value="black" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--black(data-color="black")
                            li.additional-filters__color-item
                                label
                                    input.additional-filters__input(type="radio" value="brown" name="color")
                                    .additional-filters__color-btn.additional-filters__color-btn--brown(data-color="brown")

                        //Размеры товара
                        .additional-filters__title Размер
                        ul.additional-filters__size-block
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="XS" checked)
                                    span.additional-filters__size-btn(data-size="XS") 20/18 XS
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="S")
                                    span.additional-filters__size-btn(data-size="S") 22/20 S
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="M")
                                    span.additional-filters__size-btn(data-size="M") 24/22 M
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="L")
                                    span.additional-filters__size-btn(data-size="L") 18/16 L
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="XL")
                                    span.additional-filters__size-btn(data-size="XL") 18/16 XL
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="M")
                                    span.additional-filters__size-btn(data-size="M") 24/22 M
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="L")
                                    span.additional-filters__size-btn(data-size="L") 18/16 L
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="XL")
                                    span.additional-filters__size-btn(data-size="XL") 18/16 XL
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="XS" checked)
                                    span.additional-filters__size-btn(data-size="XS") 20/18 XS
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="S")
                                    span.additional-filters__size-btn(data-size="S") 22/20 S
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="M")
                                    span.additional-filters__size-btn(data-size="M") 24/22 M
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="L")
                                    span.additional-filters__size-btn(data-size="L") 18/16 L
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="XL")
                                    span.additional-filters__size-btn(data-size="XL") 18/16 XL
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="M")
                                    span.additional-filters__size-btn(data-size="M") 24/22 M
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="L")
                                    span.additional-filters__size-btn(data-size="L") 18/16 L
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="XL")
                                    span.additional-filters__size-btn(data-size="XL") 18/16 XL
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="XS" checked)
                                    span.additional-filters__size-btn(data-size="XS") 20/18 XS
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="S")
                                    span.additional-filters__size-btn(data-size="S") 22/20 S
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="M")
                                    span.additional-filters__size-btn(data-size="M") 24/22 M
                            li.additional-filters__size-item
                                label
                                    input(type="radio" name="size" value="L")
                                    span.additional-filters__size-btn(data-size="L") 18/16 L
                        .total
                            h2.total__title Базовая цена
                            .total__price-block
                                .total__price-new.mr-3
                                    span.js-price-new 3 499
                                    span &#8381;
                                .total__price-old.mr-5
                                    span.js-price-old 5 499
                                    span &#8381;
                                .total__discount
                                    span  Ваша скидка &nbsp;
                                    span.js-total-discount 15
                                    span %
                            .total__count
                                .total__count-inner
                                    h2.total__title(style="margin-bottom: 1rem") Количество
                                    label
                                        div.counter.total__count-items.js-count-items
                                            button.js-count-decrease(type="button") &minus;
                                            //- span.js-count-num(style="margin: 0 1.6rem") 1
                                            input.js-input-amount(type="number", value="1",
                                                min="1", max="10")
                                            button.js-count-increase(type="button") &plus;
                                    .total__amount
                                        span Доступно &nbsp;
                                        span.js-amount 3
                                        span &nbsp; шт.
                                .total__count-inner(style="margin-left: 4rem")
                                    h2.total__title Сумма
                                    div.total__price-new.d-flex.align-items-center
                                        span.total__price-block.js-count-final 143 499
                                        span(style="margin-bottom: 2.1rem") &nbsp; &#8381;

                        button.btn-order.btn-order--pos(type="submit") Заказать
    .page-image.page-image--mb
        .page-image__wrapper
            img.page-image__img(src="/assets/img/photos/remen'.png" alt="Page image")

block post-content
    .news.news--mb
        h1.news__title(style="text-align:left") Рекомендуемые товары
        .swiper-container.news__slider
            .swiper-wrapper
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
                .swiper-slide
                    a.card(href="#" title="item")
                        .card__first-line
                            .card__price-block
                                span РЦЦ: &nbsp;
                                span.card__price 7501
                                span &#8381;
                            .card__category Ремешки
                        .card__img-wrap
                            img.card__image(src="/assets/img/photos/strap.png" title="image")
                        .card__desc
                            .card__model 5994 series ORG
                            .card__brand Original
            .swiper-button-prev
            .swiper-button-next
            .swiper-scrollbar