extends ../layout/main-animated

block variables
    - var title = 'Главная';
    - var description = 'Description for project';
    - var pageClass = 'body';

block content
    .container.animate__animated.animate__fadeInUp.animate__delay-4s
        .container-inner
            form#search-catalog.search-form.search-form--pos(method="POST" action="#")
                .search-form__wrapper
                    input.search-form__input(type="text" placeholder="Поиск по каталогу")
                    button.search-form__submit(type="submit")
            .swiper-container.swiper-main.swiper-main--pos
                .swiper-wrapper
                    .swiper-slide(style="background-image: url(\"/assets/img/photos/img1.png\")")
                        .swiper-main__content
                            .swiper-main__content-inner
                                h1.swiper-main__title Aviator Line
                                p.swiper-main__desc Классические обрубные ремни для массивных часов.
                            button.button Узнать больше
                    .swiper-slide(style="background-image: url(\"/assets/img/photos/img1.png\")")
                        .swiper-main__content.swiper-main__content--center
                            .swiper-main__content-inner
                                h1.swiper-main__title Aviator Line
                                p.swiper-main__desc Классические обрубные ремни для массивных часов.
                            button.button Узнать больше
                    .swiper-slide(style="background-image: url(\"/assets/img/photos/img1.png\")")
                        .swiper-main__content.swiper-main__content--right
                            .swiper-main__content-inner
                                h1.swiper-main__title Aviator Line
                                p.swiper-main__desc Классические обрубные ремни для массивных часов.
                            button.button Узнать больше
                    .swiper-slide(style="background-image: url(\"/assets/img/photos/img1.png\")")
                        .swiper-main__content
                            h1.swiper-main__title Aviator Line
                            p.swiper-main__desc Классические обрубные ремни для массивных часов.
                            button.button Узнать больше
                .swiper-box
                    .swiper-box__inner
                        .swiper-box__arrows
                            .swiper-button-prev
                            p.swiper-desc
                                span.js-slide-count
                                span &nbsp; / &nbsp;
                                span.js-swiper-count
                            .swiper-button-next
        .sw-menu.sw-menu--mb
            nav.sw-menu__nav.sw-menu__nav--mb
                ul.sw-menu__list
                    li.sw-menu__item.active(data-item="leather" title="Кожаные ремни") Кожаные ремни
                    li.sw-menu__item(data-item="nylon" title="Ремни нейлоновые") Ремни нейлоновые
                    li.sw-menu__item(data-item="steel" title="Стальные браслеты") Стальные браслеты
                    li.sw-menu__item(data-item="accessories" title="Аксессуары") Аксессуары
                a.btn-back(href="#")  Весь каталог
            .row
                .col-sm-12.col-lg-8.col-xl-9
                    .sw-menu__image-wrapper(style="background-image: url(\"/assets/img/photos/clocks.png\")" data-target="leather")
                        .sw-menu__item-content
                            .sw-menu__title Кожаные ремни
                            .sw-menu__desc Классические обрубные ремни для массивных часов.
                            nav.brands
                                ul.brands__list
                                    each name,key in {"/assets/img/photos/steel.png":"Stailer Original","/assets/img/photos/nylon.png":"Stailer Premium","/assets/img/photos/clocks.png":"B&M","/assets/img/photos/acces.png":"ARMO"}
                                        li.brands__item
                                            a.brands__link(href='#' title=name data-img=key)=name
                            div.visibility-lg
                                a.button(href="#" title="Смотреть каталог") Смотреть каталог
                    //- .sw-menu__image-wrapper(style="background-image: url(\"/assets/img/photos/nylon.png\")" data-target="nylon")
                        .sw-menu__title Нейлоновые ремни
                        .sw-menu__desc Классические обрубные ремни для массивных часов.
                        nav.brands
                            ul.brands__list
                                each name,key in {"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                                    li.brands__item
                                        a.brands__link(href=key title=name)=name
                        div.visibility-lg
                            a.button(href="#" title="Смотреть каталог") Смотреть каталог
                    //- .sw-menu__image-wrapper(style="background-image: url(\"/assets/img/photos/steel.png\")" data-target="steel")
                        .sw-menu__title Стальные ремни
                        .sw-menu__desc Классические обрубные ремни для массивных часов.
                        nav.brands
                            ul.brands__list
                                each name,key in {"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                                    li.brands__item
                                        a.brands__link(href=key title=name)=name
                        div.visibility-lg
                            a.button(href="#" title="Смотреть каталог") Смотреть каталог
                    //- .sw-menu__image-wrapper(style="background-image: url(\"/assets/img/photos/acces.png\")" data-target="accessories")
                        .sw-menu__title Аксессуары
                        .sw-menu__desc Классические обрубные ремни для массивных часов.
                        nav.brands
                            ul.brands__list
                                each name,key in {"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                                    li.brands__item
                                        a.brands__link(href=key title=name)=name
                        div.visibility-lg
                            a.button(href="#" title="Смотреть каталог") Смотреть каталог
                .col-sm-12.col-lg-4.col-xl-3
                    .swiper-container.sw-menu__slider(data-slider="leather")
                        .swiper-wrapper
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7321
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7345
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7345
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7389
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                        .btn-group
                            .btn-group--relative
                                .swiper-button-prev
                                .swiper-button-next
                    .swiper-container.sw-menu__slider(data-slider="nylon")
                        .swiper-wrapper
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7678
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7605
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7601
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7600
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                        .btn-group
                            .btn-group--relative
                                .swiper-button-prev
                                .swiper-button-next
                    .swiper-container.sw-menu__slider(data-slider="steel")
                        .swiper-wrapper
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7508
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7509
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7501
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7500
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                        .btn-group
                            .btn-group--relative
                                .swiper-button-prev
                                .swiper-button-next
                    .swiper-container.sw-menu__slider(data-slider="accessories")
                        .swiper-wrapper
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7000
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 70011
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7001
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                            .swiper-slide
                                a.card(href="#" title="item")
                                    .card__price-block
                                        span РЦЦ: &nbsp;
                                        span.card__price 7000
                                        span &#8381;
                                    .card__img-wrap
                                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                                    .card__desc
                                        .card__model 5994 series ORG
                                        .card__brand Original
                        .btn-group
                            .btn-group--relative
                                .swiper-button-prev
                                .swiper-button-next
        .news.news--mb
            h1.news__title Новые товары
            .swiper-container.news__slider
                .swiper-wrapper
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                    .swiper-slide
                        a.card(href="#" title="item")
                            .card__first-line
                                .card__price-block
                                    span РЦЦ: &nbsp;
                                    span.card__price 7501
                                    span &#8381;
                                .card__category Ремешки
                            .card__img-wrap
                                img.card__image(src="/assets/img/photos/strap.png" title="image")
                            .card__desc
                                .card__model 5994 series ORG
                                .card__brand Original
                .swiper-button-prev
                .swiper-button-next
                .swiper-scrollbar
    .specification.specification--mb(style="background-image: url(\"/assets/img/photos/about.png\")")
        h1.specification__title Качество известное каждому
        h1.specification__desc Классические обрубные ремни для массивных часов.
        a.details.details--white(href="#" title="detail") Подробнее
    .container
        .row.p-0
            .col-md-12.col-lg-6
                .news-slider.swiper-container
                    .swiper-wrapper
                        - for (var i=0; i<3; i++)
                            a.tidings.tidings--mb.swiper-slide.js-modal-btn(href="#" title="new" data-open-modal="news")
                                .tidings__img-wrapper
                                    img.tidings__image(src="/assets/img/photos/tiding-1.png")
                                .tidings__text
                                    .tidings__text-inner
                                        .tidings__category Новости
                                        .tidings__desc-block
                                            h2.tidings__desc-title.mb-0
                                                | Заголовок новости которая
                                                | публикуется в этом блоке
                    .sliders-btn
                        .slider-btn.slider-btn--prev
                        .slider-btn.slider-btn--next
            .col-md-12.col-lg-6
                .tidings.tidings--mb
                    .tidings__img-wrapper
                        img.tidings__image(src="/assets/img/photos/tiding-2.png")
                    .tidings__text
                        .tidings__text-inner
                            .tidings__category
                            .tidings__desc-block
                                h2.tidings__desc-title Коллекции в нашей компании
                                .tidings__desc-text
                                    | Ознакомьтесь с нашими предложериями по новым моделям и
                                    | новым коллекциям ремешкоф для наручных часов.
                                a.button.js-modal-btn(href="#" title="Еще" data-open-modal="news") Узнать больше
        .additionally.additionally--mb
            .additionally__title Остались вопросы?
            .additionally__info
                a.additionally__mail.additionally__mail--mr(href="mailto:mail@mai.com" title="mail") mail@mai.com
                a.additionally__tel(href="tel:+74952800798" title="mail") +7-495-280-07-98
    +include-cookie-warning
block script