extends ../layout/sidebar-layout

block variables
    - var title = 'Каталог товаров';
    - var description = '';
    - var pageClass = 'body';
    - var headerClass = 'sticky animate__animated';

block content
    h1.page-title.mb-md-5 Каталог продукции
    .row
        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-1.png\")" data-url="item-card.html")
                .catalog__title Кожаные ремни
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name


        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-2.png\")" data-url="#")
                .catalog__title Ремни нейлоновые
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name

        .col-sm-12.col-lg-10.offset-lg-2
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-3.png\")" data-url="#")
                .catalog__title Стальные ремни
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name

        .col-sm-12
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-4.png\")" data-url="#")
                .catalog__title Механизмы
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name
    .row
        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-1.png\")" data-url="#")
                .catalog__title Пластик
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name


        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-5.png\")" data-url="#")
                .catalog__title Каучук
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name

        .col-sm-12.col-lg-10.offset-lg-2
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-6.png\")" data-url="#")
                .catalog__title Стекла для часов
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name

        .col-sm-12
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-4.png\")" data-url="#")
                .catalog__title Батарейки
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name
    .row.row--mb
        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-1.png\")" data-url="#")
                .catalog__title Клипсы
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name


        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-2.png\")" data-url="#")
                .catalog__title Шпильки
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name

        .col-sm-12.col-lg-10.offset-lg-2
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-3.png\")" data-url="#")
                .catalog__title Аксесуары
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name

        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-7.png\")" data-url="#")
                .catalog__title Инструменты
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name
        .col-sm-12.col-md-12.col-lg-6
            .catalog.catalog--pos(style="background-image:url(\"/assets/img/photos/rem-2.png\")" data-url="#")
                .catalog__title Торговое оборудование
                .catalog__desc В коллекции представлено более 850 моделей классических ремней на каждый день.
                nav.catalog__nav
                    ul.catalog__nav-list
                        each name,key in{"#":"Stailer Original","##":"Stailer Premium","###":"B&M","####":"ARMO"}
                            li.catalog__nav-item
                                a.catalog__nav-link(href=key alt=name)=name