extends ../layout/lk-layout

block variables
	- var title = 'Корзина';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Заказ номер 357
		.data-container
			table.pretty-table.pretty-table--cart
				thead
					th №
					th
					th Артикул
					th Наименование
					th Размер
					th Цвет
					th Количество
				tbody
					- for (var i=0; i<10; i++)
						tr
							td.number= i+1
							td.thumb
								img(src="/assets/img/photos/red.png", alt="")
							td.code
								a(href="#") 3091B-2011
							td.name Длинное наименование товара
							td.size 20/18 L
							td.color
								.pretty-table__order-color-lg.color-round(style="background-color: #ff0000")
								p.pretty-table__order-color-xs Цвет: чёрный
							td.count-text
								| 10
								span шт

