extends ../layout/lk-layout

block variables
	- var title = 'Корзина';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Подтверждение заказа
		.lk__search-line.search-line
			input.search-line__input(placeholder="Артикул, название товара",
				data-action="/assets/data/search-result.html")
		.data-container
			table.pretty-table.pretty-table--cart-priced
				thead
					th №
					th
					th Артикул
					th Наименование
					th Цвет
					th Размер
					th Количество
					th Цена со скидкой
					th Сумма
					th
				tbody
					- for (var i=0; i<10; i++)
						tr
							td.number 1
							td.thumb
								img(src="/assets/img/photos/red.png", alt="")
							td.code
								a(href="#") 3091B-2011
							td.name 3091 series PRM
							td.color
								.pretty-table__order-color-lg.color-round(style="background-color: #ff0000")
								p.pretty-table__order-color-xs Цвет: чёрный
							td.size 20/18 L
							td.count
								label.js-count-items
									input.total__input.js-input-amount(type="number")
									div.counter.total__count-items.js-count-items
										button.js-count-decrease(type="button") &minus;
										span.js-count-num(style="margin: 0 1.6rem") 1
										button.js-count-increase(type="button") &plus;
							td.price 3 499 &#8381;
							td.total 7 001 &#8381;
							td.btn
								button.icon-btn.icon-btn--delete(data-id="563833")
									<svg viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
										<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
									</svg>
			.table-total
				p.table-total__value
					| Итого:
					span 2.5кг
					span 34шт
					span 70 010 ₽
			form.cart-footer
				p.cart-footer__term
					| Примерное время сборки заказа: 
					span 2 дня, требуется доставка со склада
			.cart-footer__msg-wrp
				p.cart-footer__msg-header Комментарий к заказу
				textarea.cart-footer__msg(placeholder="Ваш комментарий")
			.cart-footer__footer
				button.cart-footer__submit.button.button--black Отправить на подтверждеие
				div
					a.cart-footer__link(href="#") 
						span Сохранить заказ
				div.cart-footer__del-wrp
					a.cart-footer__link.cart-footer__link--clear(href="#") 
						<svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.30273 12.383C1.30273 13.3582 2.0961 14.152 3.07173 14.152H10.1478C11.1234 14.152 11.9168 13.3582 11.9168 12.383V3.53796H1.30273V12.383Z" fill="black"/>
							<path d="M8.37851 0.884498V0H4.84049V0.884498H0.417969V2.6535H12.801V0.884498H8.37851Z" fill="black"/>
						</svg>
						span Очистить корзину
		.search-preloader
			p Подождите, идёт загрузка...
	+include-delete-order-popup()

