extends ../layout/lk-layout

block variables
	- var title = 'Смена пароля';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Смена пароля
		form.c-form(method="post", action="/assets/data/message-success.json", novalidate)
			.c-form__section
				.c-form__address-line
					.input-line
						p.input-line__label Старый пароль
						input.input-line__input(type="password", name="pass-old", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
				.c-form__address-line
					.input-line
						p.input-line__label Новый пароль
						input.input-line__input.new-pass-input(type="password", name="pass-new", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Повторите ввод пароля
						input.input-line__input.new-pass-input(type="password", name="pass-new-copy", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Новые пароли различаются")
						p.c-form__inline-error.hidden(aria-live="polite")
			button.c-form__submit.button.button--black.success-hide(data-wait="Минуту...") Изменить пароль