extends ../layout/lk-layout

block variables
	- var title = 'Настройка акаунта';
	- var description = '';
	- var pageClass = 'body body--grey';

block content
	.lk
		p.page-title Настройка акаунта
		.const-setting
			.const-setting__item
				p.const-setting__title Название компании
				p.const-setting__value.const-setting__value--company ООО “Название юридического лица”
			.const-setting__item.const-setting__item--line
				p.const-setting__title Текущая скидка
				p.const-setting__value 15%
			.const-setting__item.const-setting__item--line
				p.const-setting__title Дата регистрации в системе
				p.const-setting__value 12 марта 2020
		form.c-form(method="post", action="/assets/data/message-success.json", novalidate)
			.c-form__section
				.input-line
					p.input-line__label.input-line__label--mgb Тип бизнеса
					.select
						select(name="business-type")
							option(value="1") Магазин часов
							option(value="2") Магазин часов
							option(value="3") Магазин часов
							option(value="4") Магазин часов
			.c-form__section
				p.form-title Информация о доставке
				.c-form__address-line
					.input-line
						p.input-line__label Страна
						input.input-line__input(type="text", name="country", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Пожалуйста введите корректное значение")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Город
						input.input-line__input(type="text", name="city", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
					.input-line
						p.input-line__label Улица
						input.input-line__input(type="text", name="street", required,
							data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
				.c-form__address-line
					.input-line
						p.input-line__label Индекс
						input.input-line__input(type="text", name="zipcode", required,
							pattern="[0-9]{6}",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Индекс должен содержать только 6 цифр")
						p.c-form__inline-error.hidden(aria-live="polite")
					.c-form__three
						.input-line
							p.input-line__label Дом
							input.input-line__input(type="text", name="house", required,
							data-value-missing="Пожалуйста, заполните поле")
							p.c-form__inline-error.hidden(aria-live="polite")
						.input-line
							p.input-line__label Корпус
							input.input-line__input(type="text", name="build")
						.input-line
							p.input-line__label Офис
							input.input-line__input(type="text", name="office")
				.input-line
					p.input-line__label Комментарий по доставке
					textarea.input-line__input.input-line__input--textarea(name="delivery-comment", placeholder="Напишите ваш комментарий")
			.c-form__section
				p.form-title Контактная информация клиента
				.c-form__contacts-line
					.input-line
						p.input-line__label ФИО
						input.input-line__input(type="text", name="fio", required,
						data-value-missing="Пожалуйста, заполните поле")
						p.c-form__inline-error.hidden(aria-live="polite")
				.c-form__contacts-line
					.input-line
						p.input-line__label Email
						input.input-line__input(type="email", name="email", required,
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Формат: mail@mail.ru")
						p.c-form__inline-error.hidden(aria-live="polite")
						p.c-form__inline-descr На указанный адрес, вам придет доступ к личному кабинету
					.input-line
						p.input-line__label Телефон
						input.input-line__input.input-line__input--tel(type="tel", name="phone", required,
							minlength="16",
							data-value-missing="Пожалуйста, заполните поле",
							data-value-invalid="Формат: +7 (___) ___-__-__")
						p.c-form__inline-error.hidden(aria-live="polite")
			.c-form__section
				p.form-title Информационная рассылка
				label.check
					input.check__input(type="checkbox", name="agree-info")
					span.check__label Я хочу получать информационную рассылку от компании			
			button.c-form__submit.button.button--black.success-hide(data-wait="Минуту...") Сохранить изменения