extends ../layout/main-logged

block variables
    - var title = 'Контакты';
    - var description = '';
    - var pageClass = 'body';

block content
    .container
      nav.breadcrumbs.breadcrumbs--pos
          ul.breadcrumbs__list
              li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Главная
              li.breadcrumbs__item
                  a.breadcrumbs__link(href="#") Политика конфиденциальности
          a.breadcrumbs__back(href="#" title="Назад")
      .text-page
        h1.text-page__header.page-title.page-title--mb Политика конфиденциальности в области обработки персональных данных
        .text-page__block
          p.text-page__block-header 1. Общие положения
          p 1.1. Настоящая Политика конфиденциальности в области обработки персональных данных (далее – Политика) разработана в соответствии с Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных» (далее – ФЗ-152).
          p 1.2. Политика определяет цели, принципы и порядок обработки персональных данных и меры по обеспечению безопасности персональных данных в ООО «Рыболовные принадлежности» (ОГРН 12946785) (далее – Оператор) с целью защиты прав и свобод человека и гражданина при обработке его персональных данных и определяет меры для обеспечения выполнения обязанностей, предусмотренных ФЗ-152 и принятыми в соответствии с ним нормативными правовыми актами.
        .text-page__block
          p.text-page__block-header 2. Термины
          p 2.1. Для целей настоящей Политики используются следующие понятия и термины: Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных); Пользователь – субъект персональных данных (покупатель либо иное физическое лицо, пользующееся услугами, оказываемыми Оператором), направляющее собственные персональные данные Оператору с целью совершения покупок на Сайт.
          p 2.2. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных; Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.
          p 2.3. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных); Уничтожение персональных данных – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных; Информационная система персональных данных – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.
          p 2.4. Уничтожение персональных данных – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных; Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц; Обезличивание персональных данных – действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных.
          p 2.5. Конфиденциальность персональных данных – обязательное для соблюдения Оператором и иными лицами, получившими доступ к персональным данным, требование не раскрывать третьим лицам и не допускать распространения персональных данных без согласия субъектов персональных данных или наличия иного законного основания. Защита персональных данных – деятельность Оператора, направленная на предотвращение утечки защищаемых персональных данных, несанкционированных и непреднамеренных воздействий на защищаемые персональные данные.
        .text-page__block
          p.text-page__block-header 3. Цели обработки Персональных данных
          p 3.1. Обработка Персональных данных пользователей осуществляется в целях:
          ul 
            li - исполнения договоров купли-продажи, выбранного пользователем товара, в том числе доставки такого товара;
            li - обеспечения возврата товара пользователем;
            li - предоставления пользователю информации о товаре/товарах, программах и предложениях, скидках;
            li - приглашения к участию в акциях, розыгрышах призов и иных подобных стимулирующих мероприятиях и их администрирования;
            li - проведения электронных и sms опросов, контроля результатов маркетинговых акций;
            li - рассылки рекламных сообщений;
            li - сохранения информации о понравившемся пользователю товаре;
            li - составления аналитических и статистических отчетов;
            li - осуществления подготовки ответов на запросы пользователей, обратившихся с претензией на продукцию, иным заявлением, жалобой, вопросом.
        .text-page__block
          p.text-page__block-header 4. Принципы и условия обработки персональных данных
          p 4.1. Обработка персональных данных осуществляется Оператором с соблюдением принципов и правил, предусмотренных ФЗ-152, и учитывает необходимость обеспечения защиты прав и свобод пользователей, в том числе защиты права на неприкосновенность частной жизни, личную и семейную тайны, а именно:
          ul 
            li - обработка осуществляется на законной и справедливой основе;
            li - обработка ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями их сбора;
            li - не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, не совместимых между собой;
            li - обработке подлежат только те персональные данные, которые отвечают целям обработки;
            li - содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки. Не допускается обработка данных, избыточных по отношению к заявленным целям;
            li - при обработке обеспечиваются точность и достаточность персональных данных и при необходимости актуальность по отношению к целям обработки. Оператор принимает меры по удалению или уточнению неполных или неточных данных либо обеспечивает принятие таких мер;
            li - хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных;
            li - обрабатываемые персональные данные уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено действующим законодательством.










          

        

