extends ../layout/main

block variables
    - var title = 'UI-kit';
    - var description = '';
    - var pageClass = 'body';

block content
    .container
        h1(style="text-align:center; margin:30px 0; font-size: 20px") UI-kit

        div(style="padding: 10px; background: grey")
            //список ссылок и кнопок
            ul
                li
                    a.button(href="#" title="ссылка") Ссылка
                li
                    a.btn-back(href="#") Назад
                li
                    a.btn-prev(href="#") Вся коллекция
                li
                    a.details(href="*") Подробнее
                li
                    .more.more--mb
                        btn.more__btn
                            span.more__btn--content Загрузить ещё
                li
                    div.counter.js-count-items
                        button.js-count-decrease &minus;
                        span.js-count-num(style="margin: 0 1.6rem") 1
                        button.js-count-increase &plus;
                li
                    .filters
                        .filters__inner
                            button.filters__choice.filters__btn Фильтры
                            button.filters__search.filters__btn.filters__btn--visibility Поиск
                            button.filters__menu.filters__btn.filters__btn--visibility
                li
                    button.btn-order.btn-order--pos(type="submit") Заказать

            //Заголовки
            h1.page-title Stailer Original

            //Text на странице
            p.page-text Мы осуществляем доставку по Москве силами собственной курьерской службы.
        .row
            .col-md-12.col-lg-6

                //блок новости
                .tidings
                    .tidings__img-wrapper
                        img.tidings__image(src="/assets/img/photos/tiding-2.png")
                    .tidings__text
                        .tidings__text-inner
                            .tidings__category Новости
                            .tidings__desc-block
                                h2.tidings__desc-title Коллекции в нашей компании
                                .tidings__desc-text
                                    | Ознакомьтесь с нашими предложериями по новым моделям и
                                    | новым коллекциям ремешкоф для наручных часов.
                                a.button(href="#" title="Еще") Узнать больше
            .col-md-12.col-lg-6

                //ссылка на новость или ассортимент товара
                a.tidings.tidings--mb(href="#" title="new")
                    .tidings__img-wrapper
                        img.tidings__image(src="/assets/img/photos/tiding-1.png")
                    .tidings__text
                        .tidings__text-inner
                            .tidings__category Новости
                            .tidings__desc-block
                                h2.tidings__desc-title.mb-0
                                    | Заголовок новости которая
                                    | публикуется в этом блоке
        .row
            .col-md-12.col-lg-4

                //Карточка товара
                a.card(href="#" title="item")
                    .card__first-line
                        .card__price-block
                            span РЦЦ: &nbsp;
                            span.card__price 7501
                            span &#8381;
                        .card__category Ремешки
                    .card__img-wrap
                        img.card__image(src="/assets/img/photos/strap.png" title="image")
                    .card__desc
                        .card__model 5994 series ORG
                        .card__brand Original

        //Хлебные крошки
        nav.breadcrumbs.breadcrumbs--pos
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Каталог
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Кожаные ремни
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Stailer original
            a.breadcrumbs__back(href="#" title="Назад")

        //Input group
        .input-group
            label.input-group__label(for="search") Поиск по каталогу
            input#search.input-group__input-catalog(type="text")

        //Sidebar
        .row
            .col-md-12.col-lg-3
                nav.sidebar
                    .input-group
                        label.input-group__label(for="search-catalog") Поиск по каталогу
                        input#search-catalog.input-group__input-catalog(type="text")
                    ul.sidebar__list
                        li.sidebar__item
                            a.sidebar__link(href="#") Кожаные ремни
                        li.sidebar__item
                            a.sidebar__link(href="#") Стальные браслеты
                        li.sidebar__item
                            a.sidebar__link(href="#") Ремни нейлоновые
                        li.sidebar__item
                            a.sidebar__link(href="#") Батарейки
                        li.sidebar__item
                            a.sidebar__link(href="#") Аксессуары

            .col-8

        //Дополнительные фильтры
        form#order(method="POST" action="#")

            //Цвета товара
            ul.additional-filters__color-block
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="white" name="color" checked)
                        .additional-filters__color-btn.additional-filters__color-btn--white.js-color
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="black" name="color")
                        .additional-filters__color-btn.additional-filters__color-btn--black.js-color
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="blue" name="color")
                        .additional-filters__color-btn.additional-filters__color-btn--blue.js-color
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="brown" name="color")
                        .additional-filters__color-btn.additional-filters__color-btn--brown.js-color
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="red" name="color")
                        .additional-filters__color-btn.additional-filters__color-btn--red.js-color
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="silver" name="color")
                        .additional-filters__color-btn.additional-filters__color-btn--silver.js-color
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="pink" name="color")
                        .additional-filters__color-btn.additional-filters__color-btn--pink.js-color
                li.additional-filters__color-item
                    label
                        input.additional-filters__input(type="radio" value="choice" name="color")
                        .additional-filters__color-btn.additional-filters__color-btn--choice.js-color

            //Размеры товара
            .additional-filters__title Размер
            ul.additional-filters__size-block
                li.additional-filters__size-item
                    label
                        input(type="radio" name="size" value="M" checked)
                        span.additional-filters__size-btn.js-size 24/22 M
                li.additional-filters__size-item
                    label
                        input(type="radio" name="size" value="XS")
                        span.additional-filters__size-btn.js-size 20/18 XS
                li.additional-filters__size-item
                    label
                        input(type="radio" name="size" value="XXS")
                        span.additional-filters__size-btn.js-size 20/18 XSS
                li.additional-filters__size-item
                    label
                        input(type="radio" name="size" value="XXL")
                        span.additional-filters__size-btn.js-size 20/18 XXL
                li.additional-filters__size-item
                    label
                        input(type="radio" name="size" value="S")
                        span.additional-filters__size-btn.js-size 22/20 S
                li.additional-filters__size-item
                    label
                        input(type="radio" name="size" value="L")
                        span.additional-filters__size-btn.js-size 18/16 L
                li.additional-filters__size-item
                    label
                        input(type="radio" name="size" value="XL")
                        span.additional-filters__size-btn.js-size 18/16 XL

            .total
                h2.total__title Базовая цена
                .total__price-block
                    .total__price-new.mr-3
                        span.js-price-new 3 499
                        span &#8381;
                    .total__price-old.mr-5
                        span.js-price-old 5 499
                        span &#8381;
                    .total__discount
                        span  Ваша скидка &nbsp;
                        span.js-total-discount 15
                        span %
                .total__count
                    .total__count-inner
                        h2.total__title(style="margin-bottom: 1rem") Количество
                        label
                            input.total__input.js-input-amount(type="number")
                            div.counter.total__count-items.js-count-items
                                button.js-count-decrease &minus;
                                span.js-count-num(style="margin: 0 1.6rem") 1
                                button.js-count-increase &plus;
                        .total__amount
                            span Доступно &nbsp;
                            span.js-amount 3
                            span &nbsp; шт.
                    .total__count-inner(style="margin-left: 4rem")
                        h2.total__title Сумма
                        div.total__price-new.d-flex.align-items-center
                            span.total__price-block.js-count-final 143 499
                            span(style="margin-bottom: 2.1rem") &nbsp; &#8381;

            button.btn-order.btn-order--pos(type="submit") Заказать

        //Dropdown list
        ul.accordeon
            li.accordeon__item
                .accordeon__button Спецификация
                .accordeon__dropdown-section
                    table.item-info
                        tr.item-info__row
                            th.item-info__title Ширина крепления
                            td.item-info__desc 15 мм
                        tr.item-info__row
                            th.item-info__title Ширина пряжки
                            td.item-info__desc 16 мм
                        tr.item-info__row
                            th.item-info__title Длина большей части
                            td.item-info__desc 184 мм
                        tr.item-info__row
                            th.item-info__title Длина меньшей части
                            td.item-info__desc 75 мм
            li.accordeon__item
                .accordeon__button Описание
                .accordeon__dropdown-section
                    .item-info
                        p.item-info__desc
                            | Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            | aliquip ex ea commodo consequat.
                        p.item-info__desc
                            | Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            | aliquip ex ea commodo consequat.

        //
        .total
            h2.total__title Базовая цена
            .total__price-block
                .total__price-new.mr-3
                    span.js-price-new 3 499
                    span &#8381;
                .total__price-old.mr-5
                    span.js-price-old 5 499
                    span &#8381;
                .total__discount
                    span  Ваша скидка &nbsp;
                    span.js-total-discount 15
                    span %
            .total__count
                .total__count-inner
                    h2.total__title(style="margin-bottom: 1rem") Количество
                    div.counter.total__count-items.js-count-items.counter
                        button.js-count-decrease &minus;
                        span.js-count-num(style="margin: 0 1.6rem") 1
                        button.js-count-increase &plus;
                    .total__amount.js-amount Доступно 3 шт.
                .total__count-inner(style="margin-left: 4rem")
                    h2.total__title Сумма
                    div.total__price-new.d-flex.align-items-center
                        span.total__price-block.js-count-final 143 499
                        span(style="margin-bottom: 2.1rem") &nbsp; &#8381;
        //Остались вопросы....
        .additionally.additionally--mb
            .additionally__title Остались вопросы?
            .additionally__info
                a.additionally__mail.additionally__mail--mr(href="mailto:mail@mai.com" title="mail") mail@mai.com
                a.additionally__tel(href="tel:+74952800798" title="mail") +7-495-280-07-98

        //Список партнеров
        .partners
            ul.partners__list
                li.partners__item
                    a.partner.partner__link(href="#" title="partner")
                        .partner__clear
                        .partner__image
                            img(src="/assets/img/logotype/dl.svg")
                        .partner__name Деловые линий
                li.partners__item
                    a.partner.partner__link(href="#" title="partner")
                        .partner__clear
                        .partner__image
                            img(src="/assets/img/logotype/bs.svg")
                        .partner__name Байкал сервис
                li.partners__item
                    a.partner.partner__link(href="#" title="partner")
                        .partner__clear
                        .partner__image
                            img(src="/assets/img/logotype/pek.svg")
                        .partner__name ПЭК
                li.partners__item
                    a.partner.partner__link(href="#" title="partner")
                        .partner__clear
                        .partner__image
                            img(src="/assets/img/logotype/energy.svg")
                        .partner__name Энергия
        //Форма поиска
        form.search-form.search-form--pos(method="POST" action="#")
            .search-form__wrapper
                input.search-form__input(type="text" placeholder="Поиск по каталогу")
                button.search-form__submit(type="submit")

block script