//Thin
@font-face {
  font-family: Circle;
  src: url('../fonts/Curcle/Circe-Thin.eot') format('embedded-opentype');
  src: url('../fonts/Curcle/Circe-Thin.ttf') format('truetype');
  src: url("../fonts/Curcle/Circe-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

//Extra Light
@font-face {
  font-family: Circle;
  src: url('../fonts/Curcle/Circe-ExtraLight.ttf') format('truetype');
  src: url('../fonts/Curcle/Circe-ExtraLight.eot#iefix') format('embedded-opentype'),
  url("../fonts/Curcle/Circe-ExtraLight.woff") format('woff');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

//Light
@font-face {
  font-family: Circle;
  src: url('../fonts/Curcle/Circe-Light.ttf') format('truetype');
  src: url('../fonts/Curcle/Circe-Light.eot') format('embedded-opentype');
  src: url("../fonts/Curcle/Circe-Light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

//Regular
@font-face {
  font-family: Circle;
  src: url('../fonts/Curcle/Circe-Regular.eot') format('embedded-opentype');
  src: url('../fonts/Curcle/Circe-Regular.ttf') format('truetype');
  src: url("../fonts/Curcle/Circe-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

//Bold
@font-face {
  font-family: Circle;
  src: url('../fonts/Curcle/Circe-Bold.eot') format('embedded-opentype');
  src: url('../fonts/Curcle/Circe-Bold.ttf') format('truetype');
  src: url("../fonts/Curcle/Circe-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

//Extra Bold
@font-face {
  font-family: Circle;
  src: url('../fonts/Curcle/Circe-ExtraBold.eot') format('embedded-opentype');
  src: url('../fonts/Curcle/Circe-ExtraBold.ttf') format('truetype');
  src: url("../fonts/Curcle/Circe-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

