// Font
$mainFont: Circle, sans-serif;

// Colors
$white-color: #FFFFFF;
$light-grey: #a7a7a7;

$black-color: #000000;
$light-black: #2A2A2A;
$semi-black: #0F0F0F;

$light-grey-color: #F8F8F8;
$grey: #e8e8e8;
$grey-color: #7d7d7d;
$dark-grey-color: #585858;
$d-grey: #E6E6E6;
$bold-grey-color: #4E4E4E;

$error-color: darken(red, 10);

// Default font styles
$mainFontColor: $black-color;
$mainFontSize: 10px;
$mainFontWeight: 300;
$mainLineHeight: 150%;

//Body width
$bodyMinWidth: 320px;
$bodyMaxWidth: 1440px;

// Media
$mobile: (max-width: 767px);
$mobileLG: print, (min-width: 576px);
$tablet: print, (min-width: 768px);
$tabletH: print, (min-width: 991px);
$tabletD-max: (max-width: 991px);
$tabletD: print, (min-width: 992px);
$desktop-max: (max-width: 1198px);
$desktop: print, (min-width: 1199px);
$desktopLG: print, (min-width: 1440px);
