<div class="modal show modal--delete">
  <div class="modal__window">
    <div class="modal__body">
      <div class="delete-order">
        <p class="delete-order__header">Заказ</p>
        <p class="delete-order__number">№ 12</p>
      </div>
      <div class="modal__title modal__title--f30">Заказ отправлен на проверку и утверждение</div>
      <div class="modal__content">
        <div class="modal__btns-line">
          <a class="button button--black" href="main-catalog.html">Перейти в каталог</a>
          <a class="modal__link" href="current-orders.html">Вернуться в личный кабинет</a>
        </div>
        <p class="modal__counter">Окно закроется автоматически через <span class="seconds">15</span>секунд</p>
      </div>
    </div>
  </div>
</div>