.c-form {

  &--mgb {
    margin-bottom: 5rem;

    @media #{$tablet} {
      margin-bottom: 9rem;
    }
  }

  &__section {
    margin-bottom: 4rem;

    @media #{$tablet} {
      margin-bottom: 5.5rem;
    }
  }

  &__descr {
    font-size: 1.3rem;
    color: #696969;

    margin-top: 1rem;
  }

  &__three{
    display: flex;
    align-items: flex-start;    

    .input-line {
      width: calc(( 100% - 2rem ) / 3);

      & + .input-line {
        margin-left: 1rem;
      }
    }
  }

  &__address-line {

    @media #{$tablet} {

      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      margin-left: -1.5rem;
      margin-right: -1.5rem;

      .input-line {
        width: 20rem;

        margin: 1.5rem;
      }

      .c-form__three {

        .input-line {
          width: 8rem;
        }
      }
    }
  }

  &__contacts-line {

    @media #{$tablet} {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      margin-left: -1.5rem;
      margin-right: -1.5rem;

      .input-line {
        width: 31.5rem;

        margin: 1.5rem;
      }
    }
  }

  &__inline-error {
    font-size: 1.2rem;
    color: #c00;

    margin-top: 0.5rem;

    @media #{$tablet} {
      font-size: 1.4rem;
    }

    &.hidden {
      display: none;
    }
  }

  &__inline-descr {
    font-size: 1.1rem;
    color: #696969;

    margin-top: 0.5rem;
  }

  &__text-success {
    font-size: 1.4rem;
    color: darken(#33ff00, 20);
  }

  .input-line {
    margin-bottom: 2rem;
  }

  .select{
    max-width: 32rem;
    
    margin-bottom: 1rem;
  }

  .radio-list {
    margin-bottom: 4rem;
  }

  .select-list {

    .select{

      @media #{$tabletD} {
        display: none;
      }
    }

    .radio-list {

      @media #{$tabletD-max} {
        display: none;
      }
    }
  }

  .input-line__input--textarea {
    max-width: 66.5rem;
  }
}