.cart-footer {
  border-top: 4px solid #212121;
  padding-top: 2rem;

  &__term {
    position: relative;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #000000;

    padding-left: 3rem;

    margin-bottom: 4rem;

    &:before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;

      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.4861 0 0 4.4861 0 10C0 15.5139 4.4861 20 10 20C15.5139 20 20 15.5139 20 10C20 4.4861 15.5139 0 10 0ZM10 18.75C5.17517 18.75 1.25001 14.8248 1.25001 10C1.25001 5.17517 5.17517 1.25001 10 1.25001C14.8248 1.25001 18.75 5.17517 18.75 10C18.75 14.8248 14.8248 18.75 10 18.75Z' fill='black'/%3E%3Cpath d='M10.7474 3.85962H9.47266V10.421L13.4836 14.3859L14.3849 13.495L10.7474 9.89926V3.85962Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    span {
      font-weight: 700;

      @media #{$mobile} {
        display: block;
      }
    }
  }

  &__msg-wrp {
    margin-bottom: 3rem;
  }

  &__msg-header {
    font-size: 1.4rem;
    font-weight: 700;
    color: #414141;

    margin-bottom: 1.5rem;
  }

  &__msg {
    width: 100%;
    height: 14rem;

    font-family: 'Circle', sans-serif;
    font-size: 1.6rem;
    color: #202020;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 5px;

    padding: 1.7rem;
    box-sizing: border-box;

    resize: none;

    &::placeholder {
      color: #C9C9C9;
      opacity: 1;
    }
  }

  &__footer {
    text-align: center;

    @media #{$tablet} {
      display: flex;
      align-items: center;
    }
  }

  &__submit {
    margin-right: 3rem;
  }

  &__link {
    display: inline-block;

    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;

    @media #{$mobile} {
      margin-top: 2.4rem;
    }

    span {
      text-decoration: underline;
    }

    &--clear{
      cursor: pointer;
      background-color: transparent;
      padding: 0;

      span {
        font-family: Circle,sans-serif;
        display: inline-block;
        margin-left: 0.5rem;
      }
    }
  }

  &__del-wrp {

    @media #{$tablet} {
      margin-left: auto;
    }
  }
}