.checkout-total {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.7rem;
  font-weight: 700;

  padding-bottom: 1rem;
  border-bottom: 4px solid #212121;

  margin-bottom: 5.5rem;

  @media #{$tablet} {
    font-size: 2rem;
  }
}