.e-form {

    &__line {
        font-weight: 400;
        
        margin-bottom: 4rem;

        @media #{$tablet} {
            display: flex;

            margin-bottom: 3rem;

            &--half {
                justify-content: space-between;

                .e-form__item {
                    width: calc((100% - 15px) / 2);
                }
            }
        }
    }

    &__item {

        @media #{$mobile} {
            margin-bottom: 2.3rem;
        }

        &.switch-line {

            @media #{$tablet} {
                margin-right: 2rem;
            }
        }
    }
}