.footer {
  background: $semi-black;
  display: flex;

  padding: 7rem 0 1.4rem;

  z-index: 1000;
  @media #{$tabletD} {
    padding: 11.6rem 0 1.5rem;
  }
}

.footer__privacy {

  @media #{$mobile} {
    text-align: center;
  }

  @media #{$tablet} {
    display: flex;

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    padding-top: 1.5rem;
  }
}

.footer__privacy-item {

  @media #{$mobile} {
    margin-bottom: 1rem;
  }

  @media #{$tablet} {
    margin-right: 5rem;
  }
}

.footer__privacy-link {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.3);
}