.h-lk {
  background-color: $light-grey-color;
  border-bottom: 1px solid #E8E8E8;

  &__logo-wrp {
    display: none;

    @media #{$desktop} {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__parts-wrp{
    display: flex;
    align-items: center;

    @media #{$desktop} {
      align-items: stretch;

      padding-left: 0;
    }
  }

  &__part {
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    @media #{$desktop} {
      padding-top: 4.5rem;
      padding-bottom: 3.8rem;
    }

    &--bordered {

      @media #{$desktop} {
        border-left: 1px solid #E8E8E8;
      }
    }

    &--hidden-xs {

      @media #{$desktop-max} {
        display: none;
      }
    }

    &--company {
      padding-right: 7rem;
    }

    &--employee {
      flex-grow: 1;
      flex-shrink: 1;
    }

    &--side {
      margin-left: auto;

      @media #{$desktop} {
        display: flex;
        align-items: center;

        padding-left: 5.5rem;

        margin-left: 2.4rem;
      }
    }

    &--sum {
      
      @media #{$desktop} {
        padding-left: 4rem;
      }
    }

    &--order-number {
      margin-right: 4.5rem;

      @media #{$desktop} {
        padding-left: 5.3rem;
        margin-left: 3.3rem;
      }
    }
  }

  &__part-bold {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;

    white-space: nowrap;

    margin-bottom: 0.5rem;

    @media #{$desktop} {
      font-size: 1.6rem;
    }
  }

  &__part-thin {
    font-size: 1.3rem;
    color: #000000;

    @media #{$desktop} {
      font-size: 1.5rem;
    }
  }

  .order-number__header {
    color: #000000;

    margin-bottom: 0.5rem;
  }

  .logout-btn {

    @media #{$desktop-max} {
      display: none;
    }
  }
}