.header {
  transition: all 0.3s ease-in;
  background: $light-grey-color;
  padding-top: 3rem;
  position: relative;

  &__first-line {

    &--logged {

      .auth-link {
        margin-left: 4rem;

        @media #{$mobile} {
          display: none;
        }
      }

      .logout-btn {
        margin-left: 4rem;
      }
    }
  }

  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10000;

    padding-bottom: 3rem;


    &--login-block {
      display: flex;
    }

    @media #{$tabletD}{
      justify-content: flex-end;
    }
  }

  &__tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 1rem;

    padding-bottom: 5.6rem;
    color: $grey-color;

    &--dark-grey {
      margin-top: 1.6rem;
      color: $dark-grey-color;
      font-weight: 800;
    }

    @media #{$tablet}{
      font-size: 1.2rem;
    }
  }

  .nav__item {
    
    &--xs {

      @media #{$tabletD}{
        display: none;
      }
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 12000;
    padding: 1.5rem 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header__tagline {
      display: none;
    }

    .auth-link {
      &--lg {
        display: none;
        margin-left: 1rem;

        @media #{$tabletD} {
          display: block;
        }

        @media #{$desktop} {
          margin-left: 4rem;
        }
      }
    }

    .logotype-block {
      order: 1;

      &__wrapper {
        max-width: 113px;
        margin: auto 0;
        padding: 2rem 0;
      }
    }

    .header__first-line {
      order: 3;
      padding: 2rem 0;
    }

    .nav {
      order: 2;
      display: none;
      top: 9rem;

      &.show {
        display: block;
        max-height: calc(100vh - 110px);
        overflow: auto;
        padding-top: 2rem;

        @media #{$tabletD} {
          overflow: hidden;
        }
      }

      &__list {
        display: flex;
        flex-wrap: nowrap;
      }

      &__item {
        
        @media #{$tabletD}{
          margin-left: 1rem;
          margin-right: 1rem;

          padding: 2rem 0;
        }

        @media #{$desktop}{
          margin-left: 2.5rem;
          margin-right: 2.5rem;
        }

        &.active .sub-menu__inner {
          @media #{$tabletD}{
            padding: 3rem 2rem;
          }
        }

        &:hover > a {
          color: $grey-color;
        }
      }

      &__link {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: $mainLineHeight;

        letter-spacing: 0.3em;
        text-transform: uppercase;

        color: $semi-black;
      }

      @media #{$tabletD} {
        display: block;
      }
    }


    @media #{$desktop} {
      order: 3;
    }

    & .header__btn-group {
      padding-bottom: 0;

      &--login-block {
        display: none;

        @media #{$tabletD}{
          display: flex;
        }
      }
    }
  }
}
