
.modal {
  display: none;

  &.show {
    display: flex;
  }

  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  padding-bottom: 5rem;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 14000;
  overflow: auto;

  background: rgba(0, 0, 0, 0.31);
  width: 100vw;
  height: 100vh;
}
