.pretty-table {
	width: 100%;
	
	border-collapse: collapse;
	
	font-size: 14px;
	color: #000000;

	margin-bottom: 1.7rem;

	@media #{mobile} {
		display: block;
	}

	@media #{$desktop} {
		font-size: 1.6rem;

		margin-bottom: 4.4rem;
	}

	tr {
		font-size: 1.4rem;
		font-weight: 400;

		border-bottom: 1px solid #D3D3D3;
	}

	th {
		padding-bottom: 1.2rem;
	}

	td:not(:last-child), th:not(:last-child) {
		padding-right: 1rem;
	}

	thead {
		
		@media #{$mobile} {
			display: none;
		}
	}

	tbody {
		
		@media #{$mobile} {
			display: contents;
		}

		tr{
			
			@media #{$mobile} {
				display: grid;
				align-items: center;
			}

			&:last-child {
				border-bottom: 2px solid #000000;
			}
		}

		td {

			@media #{$tablet}{
				vertical-align: middle;

				padding-top: 2.8rem;
				padding-bottom: 2.8rem;
			}
		}
	}

	a{
		color: #000000;
		text-decoration: underline;
	}

	.switch {
		display: inline-flex;
	}

	.counter {

		@media #{$mobile} {
			border: none;
			background-color: transparent;
		}
	}

	.thumb {
		width: 7rem;

		img {
			display: block;
			max-width: 100%;
		}
	}

	@media #{$tablet} {
		.pretty-table__order-color-xs {
			display: none;
		}
	}

	@media #{$mobile} {
		.pretty-table__order-color-lg {
			display: none;
		}
	}

	.switch,
	.switch__var {
		cursor: default;
	}
}


.pretty-table--orders {

	tr {

		@media #{$mobile} {
			grid-template-columns: repeat(9, 1fr);
			grid-template-areas: 
							"b b b b b b b b b"
							"a a f d d d c c e";

			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	tbody td {
		@media #{$mobile} {
			align-items: center;
		}
	}

	@media #{$mobile} {
		.number {
			grid-area: a;
		}

		.date {
			grid-area: b;

			font-size: 1.2rem;
			color: #A8A8A8;

			padding-top: 0;
			padding-bottom: 1rem;
		}

		.sum {
			grid-area: c;
		}

		.name {
			grid-area: d;
		}

		.btns {
			grid-area: e;
			text-align: right;

			padding-right: 0 !important;
		}

		.status {
			grid-area: f;
		}

		.icon-btn--edit {
			display: none;
		}
	}
}


.pretty-table--employees {

	@media #{$mobile} {

		tr {

			@media #{$mobile} {
				grid-template-columns: repeat(6, 1fr);
				grid-template-areas: 
								"a a a a a a"
								"b b b b b c";
	
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
		}

		.checks,
		.tel,
		.email,
		.icon-btn--delete {
			display: none;
		}

		.branch {
			grid-area: a;

			font-size: 1.2rem;
			color: #A8A8A8;

			padding-top: 0;
			padding-bottom: 1rem;
		}

		.employee {
			grid-area: b;
		}

		.btns {
			grid-area: c;
			text-align: right;
		}
	}
}

.pretty-table--cart {

	@media #{$mobile} {

		tr {
			grid-template-columns: repeat(6, 1fr);

			grid-template-areas: 
            "a a a a a a"
            "b b c c c c"
						"b b d d d d"
						"b b e e e e"
						"f f f g g g";

			padding-top: 1rem;
			padding-bottom: 0;

			border-bottom: none !important;
		}

		.number,
		.stock {
			display: none;
		}

		.code {
			grid-area: a;

			font-size: 1.2rem;
			padding-bottom: 1rem;
		}

		.thumb {
			grid-area: b;

			padding-bottom: 1.5rem;
		}

		.name {
			grid-area: c;
		}

		.size {
			grid-area: d;

			font-size: 1.3rem;
			color: #C9C9C9;

			padding-bottom: 1.5rem;
		}

		.color {
			grid-area: e;

			font-size: 1.3rem;
			color: #C9C9C9;
		}

		.btn {
			grid-area: f;
			
			display: flex;
			align-items: center;
			height: 100%;

			background-color: #EAEAEA;

			margin-left: -15px;
			padding-left: 15px;

			.icon-btn svg{
				height: 2rem;
			}
		}

		.count{
			grid-area: g;

			font-weight: 700;
			text-align: right;

			background-color: #EAEAEA;

			margin-right: -15px;
			padding-right: 15px;
		}

		.count-text {
			grid-area: g;

			text-align: right;

			span {
				display: inline-block;
				margin-top: 0.3rem;
				margin-left: 0.3rem;

				@media #{$tablet} {
					display: none;
				}
			}
		}
	}
}


.pretty-table--cart-priced {

	@media #{$mobile} {

		tr {
			grid-template-columns: repeat(6, 1fr);

			grid-template-areas: 
            "a a a b b b"
            "c c d d d d"
						"c c e e e e"
						"c c f f f f"
						"g h h h i i";

			padding-top: 1rem;
			padding-bottom: 0;

			border-bottom: none !important;
		}

		.number {
			display: none;
		}

		.code {
			grid-area: a;

			font-size: 1.2rem;
			padding-bottom: 1rem;
		}

		.price {
			grid-area: b;

			font-weight: 700;
			text-align: right;

			padding-right: 0 !important;
		}

		.thumb {
			grid-area: c;

			padding-bottom: 1.5rem;
		}

		.name {
			grid-area: d;
		}

		.size {
			grid-area: e;

			font-size: 1.3rem;
			color: #C9C9C9;
		}

		.color {
			grid-area: f;

			font-size: 1.3rem;
			color: #C9C9C9;

			padding-bottom: 1.5rem;
		}

		.btn {
			grid-area: g;
			
			display: flex;
			align-items: center;
			height: 100%;

			background-color: #EAEAEA;

			margin-left: -15px;
			padding-left: 15px;

			.icon-btn svg{
				height: 2rem;
			}
		}

		.count{
			grid-area: h;

			text-align: center;
			font-weight: 700;

			background-color: #EAEAEA;
		}

		.total {
			grid-area: i;
			
			display: flex;
			align-items: center;
			justify-content: flex-end;

			height: 100%;

			font-size: 1.4rem;
			font-weight: 700;

			text-align: right;
			background-color: #EAEAEA;

			margin-right: -15px;
			padding-right: 15px !important;
		}
	}
}


.pretty-table--history {

	@media #{$mobile} {

		tr {
			grid-template-columns: repeat(8, 1fr);

			grid-template-areas: 
            "a a a a b b b b"
            "c c c c d e e f";

			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.price-rrc {
			display: none;
		}

		.number {
			grid-area: a;

			padding-bottom: 0.5rem;
		}

		.date {
			grid-area: b;
			
			font-size: 12px;
			color: #ABABAB;

			text-align: right;
			padding-bottom: 0.5rem;
		}

		.employee {
			grid-area: c;
		}

		.comment {
			grid-area: d;
			text-align: right;
		}

		.price {
			grid-area: e;
			text-align: right;
		}

		.status {
			grid-area: f;
			text-align: right;
		}
	}

	.number {

		&__value {
			display: inline-block;

			margin-right: 0.7rem;
		}

		&__btn {
			font-size: 1.4rem;
			color: #ffffff;
			text-decoration: none;

			padding: 0 1rem;
			border-radius: 1rem;
		}
	}
}


.pretty-table--history-employee {

	@media #{$mobile} {

		tr {
			grid-template-columns: repeat(7, 1fr);

			grid-template-areas: 
            "a a a a a a a"
            "b b b c d d e";

			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.number {
			grid-area: b;
		}

		.date {
			grid-area: a;
			
			font-size: 12px;
			color: #ABABAB;

			text-align: right;
			padding-bottom: 0.5rem;
		}

		.comment {
			grid-area: c;
			text-align: right;
		}

		.price {
			grid-area: d;
			text-align: right;
		}

		.status {
			grid-area: e;
			text-align: right;
		}
	}
}


.pretty-table--checkout {

	@media #{$mobile} {
	
		tr {
			grid-template-columns: repeat(8, 1fr);

			grid-template-areas: 
            "a a a a b b c c"
						"d d d d e e e e"
						"f f f f g g g g";
						
			font-size: 1.3rem;

			padding-top: 1rem;
			padding-bottom: 0;

			border-bottom: none !important;
		}

		.number {
			display: contents;
		}

		.number__number {
			grid-area: a;
			
			font-weight: 700;
		}

		.number__name {
			grid-area: d;

			color: #959595;

			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.branch {
			display: none;
		}

		.employee {
			grid-area: e;

			text-align: right;
			color: #959595;
			word-break: break-all;

			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-right: 0 !important;
		}

		.weight {
			grid-area: b;
		}

		.price {
			grid-area: c;

			text-align: right;
			padding-right: 0 !important;
		}

		.comment {
			grid-area: g;

			text-align: right;

			background-color: #EAEAEA;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-right: 1.5rem;

			margin-right: -1.5rem;
		}

		.btns {
			grid-area: f;

			background-color: #EAEAEA;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 1.5rem;

			margin-left: -1.5rem;
		}		
	}

	@media #{$tablet} {
		
		tbody tr:last-child {
			border-bottom: 1px solid #d3d3d3;
		}

		.number__number {
			font-size: 1.8rem;
			font-weight: 700;

			margin-bottom: 0.5rem;
		}
	}
}

.pretty-table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;

  @media #{$desktop} {
    font-size: 1.6rem;

    justify-content: center;

    &__count {
      position: absolute;
      left: 3rem;
    }
  }
}