.pretty-table {
  font-size: 14px;
  color: #000000;

  margin-bottom: 1.7rem;

  @media #{$desktop} {
    font-size: 1.6rem;

    margin-bottom: 4.4rem;
  }

  &__tr {
    position: relative;

    display: flex;
    align-items: center;

    padding-top: 3.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #D3D3D3;    

    @media #{$desktop} {
      padding-top: 2.8rem;
      padding-bottom: 2.8rem;

      border-color: #212121;
    }

    &:last-child {
      border-bottom: 2px solid #000000;
    }

    &--header {

      @media #{$desktop-max} {
        padding-top: 0;
        padding-bottom: 0;
      }

      @media #{$desktop} {
        padding-top: 0;
        padding-bottom: 1.2rem;
        border-color: #D3D3D3;
      }

      .pretty-table__td {

        @media #{$desktop-max} {        
          display: none;
          
        }

        @media #{$desktop} {
          font-weight: 700;
          text-decoration: none;
        }
      }      
    }
  }

  &__td {
    flex-grow: 0;
    flex-shrink: 0;

    &--name {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  img {
    max-width: 100%;
  }
}

.pretty-table--orders {

  .pretty-table__td {
    &--number {
      width: 5.5rem;
      
      padding-right: 0.5rem;
      text-decoration: underline;

      @media #{$desktop} {
        order: 1;

        width: 9rem;

        padding-right: 1rem;
      }
    }

    &--date {
      
      @media #{$desktop-max} {
        position: absolute;
        left: 0;
        top: 1rem;

        font-size: 1.2rem;
        color: #A8A8A8;
      }

      @media #{$desktop} {
        order: 2;

        width: 22rem;
        padding-right: 1rem;
      }
    }

    &--status {
      padding-right: 1.5rem;

      @media #{$desktop} {
        order: 6;

        width: 16rem;
        padding-right: 0;
      }
    }

    &--name {

      @media #{$desktop} {
        order: 4;
      }
    }

    &--sum {
      width: 10rem;

      padding-right: 1rem;

      @media #{$desktop} {
        order: 3;

        width: 19rem;
      }
    }

    &--btns {

      @media #{$desktop} {
        order: 5;

        display: flex;
        align-items: center;

        padding-right: 5rem;
      }

      .icon-btn--edit {

        @media #{$desktop-max} {
          display: none;
        }
      }
    }
  }
}


.pretty-table--employees {

  .pretty-table__tr--header {
    
    .pretty-table__td--btns {
      
      @media #{$tablet} {
        min-width: 5rem;
      }
    }
  }
  
  .pretty-table__td--employee {
    text-decoration: underline;

    @media #{$mobile} {
      flex-grow: 1;
      flex-shrink: 1;
    }

    @media #{$tablet} {
      width: 23rem;
    }
  }

  .pretty-table__td--branch {

    @media #{$mobile} {
      position: absolute;
      top: 1rem;
      left: 0;
      right: 0;

      font-size: 1.2rem;
      color: #a8a8a8;
    }

    @media #{$tablet} {
      flex-grow: 1;
      flex-shrink: 1;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .pretty-table__td--tel {

    @media #{$mobile} {
      display: none;
    }

    @media #{$tablet} {
      width: 15rem;
    }
  }

  .pretty-table__td--email {

    @media #{$mobile} {
      display: none;
    }

    @media #{$tablet} {
      width: 13rem;
    }
  }

  .pretty-table__td--checks {

    @media #{$mobile} {
      display: none;
    }

    @media #{$tablet} {
      width: 10rem;

      .switch {
        display: inline-flex;
      }      
    }
  }

  .pretty-table__td--btns {
    padding-right: 0;
  }
}


.pretty-table--cart {
  font-weight: 400;

  @media #{$tabletD-max} {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  @media #{$desktop} {
    margin-bottom: 9rem;
  }

  .pretty-table__tr {

    @media #{$tabletD-max} {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-bottom: 38px solid #EAEAEA;
    }

    &--header {
      font-weight: 700;

      @media #{$tabletD-max} {
        display: none;
      }

      .pretty-table__td {
        display: block;

        &--size,
        &--color {
          @media #{$desktop-max} {
            display: none;
          }
        }
      }
    }
  }

  .pretty-table__td--number {
    text-decoration: none;

    @media #{$tabletD-max} {
      display: none;
    }

    @media #{$tabletD} {
      width: 5rem;

      text-align: center;
    }
  }

  .pretty-table__td--thumb {
    width: 7rem;

    margin-right: 1.7rem;
  }

  .pretty-table__td--code {

    @media #{$tabletD-max} {
      position: absolute;
      top: 1rem;
      left: 1.5rem;
    }

    @media #{$tabletD} {
      width: 10.5rem;

      padding-right: 0.5rem;
    }

    a {
      color: #000000;
      text-decoration: underline;
    }
  }

  .pretty-table__td--stock {

    @media #{$tabletD-max} {
      display: none;
    }

    @media #{$tabletD} {
      width: 10rem;
    }
  }

  .pretty-table__td--count {

    @media #{$tabletD-max} {
      position: absolute;
      bottom: -3.9rem;
      right: 0;
    }

    @media #{$tabletD} {
      width: 17rem;
      
      padding-right: 0.5rem;
    }

    .counter {
      
      @media #{$tabletD-max} {
        border: none;
        background-color: transparent;
      }
    }
  }

  .pretty-table__td--btn {

    @media #{$tabletD-max} {
      position: absolute;
      bottom: -3.2rem;
      left: 1.5rem;
    }

    @media #{$tabletD} {
      width: 4rem;
      
      text-align: right;
    }

    .icon-btn svg {
      height: 2.6rem;
      width: 1.6rem;
    }
  }

  .pretty-table__order-color-lg {

    @media #{$desktop-max} {
      display: none;
    }
  }

  .pretty-table__order-color-xs {

    @media #{$desktop} {
      display: none;
    }
  }

  .pretty-table__order-descr {
    line-height: 1.5em;
    color: #C9C9C9;

    @media #{$tabletD} {
      flex-grow: 1;
      flex-shrink: 1;
    }

    @media #{$desktop} {
      display: flex;
      align-items: center;
    }
  }

  .pretty-table__td--name {
    color: #000000;
  }

  .pretty-table__td--size {

    @media #{$desktop} {
      width: 9rem;
      
      padding-right: 0.5rem;
    }
  }

  .pretty-table__td--color {

    @media #{$desktop} {
      width: 6rem;
      
      padding-right: 0.5rem;
    }
  }
}


.pretty-table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;

  @media #{$desktop} {
    font-size: 1.6rem;

    justify-content: center;

    &__count {
      position: absolute;
      left: 1.5rem;
    }
  }
}