include ../utils/mixins
block variables

doctype html
html(lang='ru')
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
		meta(name="format-detection" content="telephone=no")
		meta(charset='utf-8')
		title #{title}
		meta(name="description", content=description)
		block head

	body(class=pageClass)
		#app
			include ../includes/modules/header-lk
			.container
				.row
					.col-md-12.col-lg-3
						div(style="height:100%")
							.js-height-clearfix
							nav.sidebar.sidebar--lk
								a.btn-prev(href="#") Вернуться в каталог
								.sidebar__hidden-xs
									.order-number.order-number--lined
										p.order-number__header Ваш заказ
										p.order-number__number 14
									a.warning-link(href="#") Закончить оформление заказа
									ul.sidebar__list
										li.sidebar__item
											p.sidebar__link.sidebar__link--active Текущие заказы
										li.sidebar__item
											a.sidebar__link(href="#") История заказов
										- if (owner)
											li.sidebar__item
												a.sidebar__link(href="#") Сотрудники
											li.sidebar__item
												a.sidebar__link(href="#") Подразделения
									ul.sidebar__list
										li.sidebar__item
											a.sidebar__link(href="#") Сменить пароль
										li.sidebar__item
											a.sidebar__link(href="#") Настроить акаунт
					.col-md-12.col-lg-9.white-bg
						block content

			include ../includes/modules/footer
		.btn-to-top
			.btn-to-top__wrap
				img(src="/assets/img/icons/to-top.png")
		block script