include ../utils/mixins
block variables

doctype html
html(lang='en')
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
        meta(name="format-detection" content="telephone=no")
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        link(rel="stylesheet", href="/assets/css/swiper-bundle.min.css")
        block head

    body(class=pageClass)
        #app
            include ../includes/modules/header-animated
            block content
            include ../includes/modules/footer
            include ../includes/modules/modals
        .btn-to-top
                .btn-to-top__wrap
                    img(src="/assets/img/icons/to-top.png")
        include ../includes/modules/modals
        script(src="/assets/js/swiper-bundle.min.js")
        block script