include ../utils/mixins
block variables

doctype html
html(lang='en')
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
        meta(name="format-detection" content="telephone=no")
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        link(rel="stylesheet", href="/assets/css/swiper-bundle.min.css")
        block head

    body(class=pageClass)
        #app
            include ../includes/modules/header
            .container
                nav.breadcrumbs.breadcrumbs--pos
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Главная
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Каталог
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Кожаные ремни
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Stailer original
                    a.breadcrumbs__back(href="#" title="Назад")

                .row
                    .col-md-12.col-lg-9.offset-lg-3
                        block title-block
                .row
                    .col-md-12.col-lg-3
                        div
                            block btn-back

                            .js-height-clearfix
                            nav.sidebar
                                form.sidebar__form.search-form.search-form--pos(method="POST" action="#")
                                    .search-form__wrapper
                                        input.search-form__input.search-form__input--white(type="text" placeholder="Поиск по каталогу")
                                        button.search-form__submit(type="submit")
                                ul.sidebar__list
                                    each name,key in {"catalog.html":"Кожаные ремни","about.html":"Стальные браслеты","delivery.html":"Ремни нейлоновые","terms.html":"Батарейки","contacts.html":"Каучук","cata.html":"Инструменты","abo.html":"Механизмы","deli.html":"Клипсы","term.html":"Пластик","contact.html":"Шпильки","del.html":"Стекла для часов","ter.html":"Торговое оборудование","cont.html":"Аксессуары"}
                                        li.sidebar__item
                                            a.sidebar__link(href=key alt=name)=name
                                            ul.sub-catalog
                                                li.sub-catalog__item
                                                    a.sub-catalog__link(href="#" alt=name +"-1") #{name}-1
                                                li.sub-catalog__item
                                                    a.sub-catalog__link(href="#" alt=name + "-2") #{name}-2

                    .col-md-12.col-lg-9
                        block content

                block post-content

            include ../includes/modules/footer
        .btn-to-top
            .btn-to-top__wrap
                img(src="/assets/img/icons/to-top.png")
        include ../includes/modules/modals
        script(src="/assets/js/swiper-bundle.min.js")
        block script